/*Rounded Corners*/
/*top-left rounded Corners*/
.jqx-rc-tl-custom_daniel {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}
/*top-right rounded Corners*/
.jqx-rc-tr-custom_daniel {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
/*bottom-left rounded Corners*/
.jqx-rc-bl-custom_daniel {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
/*bottom-right rounded Corners*/
.jqx-rc-br-custom_daniel {
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*top rounded Corners*/
.jqx-rc-t-custom_daniel {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
/*bottom rounded Corners*/
.jqx-rc-b-custom_daniel {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*right rounded Corners*/
.jqx-rc-r-custom_daniel {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*left rounded Corners*/
.jqx-rc-l-custom_daniel {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
/*all rounded Corners*/
.jqx-rc-all-custom_daniel {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.jqx-widget-custom_daniel, .jqx-widget-header-custom_daniel, .jqx-fill-state-normal-custom_daniel,
.jqx-widget-content-custom_daniel, .jqx-fill-state-hover-custom_daniel, .jqx-fill-state-pressed-custom_daniel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-transition: box-shadow linear 0.2s;
    -moz-transition: box-shadow linear 0.1s;
    -o-transition: box-shadow linear 0.1s;
    transition: box-shadow linear 0.1s;
}

.jqx-widget-content-custom_daniel {
    background-color: #ffffff;
    border-color: #e6e6e6;
}

.jqx-widget-header-custom_daniel {
    background-color: #f5f5f5;
    border-color: #cccccc;
}

.jqx-fill-state-normal-custom_daniel {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.jqx-button-custom_daniel {
     padding: 4px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.jqx-combobox-multi-item-custom_daniel {
    padding: 1px 3px;
}

.jqx-fill-state-hover-custom_daniel, .jqx-fill-state-pressed-custom_daniel {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.jqx-fill-state-hover-custom_daniel, .jqx-fill-state-focus-custom_daniel {
    color: #333333;
    text-decoration: none;
}

.jqx-fill-state-pressed-custom_daniel {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.jqx-grid-cell-custom_daniel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jqx-grid-column-menubutton-custom_daniel {
    background-color: transparent;
}

.jqx-calendar-row-header-custom_daniel, .jqx-calendar-top-left-header-custom_daniel {
    background-color: #f0f0f0;
    border: 0px solid #f2f2f2;
}

.jqx-calendar-column-header-custom_daniel {
    background-color: #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #e9e9e9;
}

.jqx-expander-header-custom_daniel {
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #e6e6e6;
}

.jqx-widget-custom_daniel, .jqx-widget-header-custom_daniel, .jqx-widget-content-custom_daniel {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.jqx-scrollbar-state-normal-custom_daniel {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
}

.jqx-scrollbar-thumb-state-normal-custom_daniel, .jqx-scrollbar-thumb-state-normal-horizontal-custom_daniel {
    background: #f5f5f5;
    border-color: #b3b3b3;
}

.jqx-scrollbar-thumb-state-hover-custom_daniel, .jqx-scrollbar-thumb-state-hover-horizontal-custom_daniel {
    background: #e6e6e6;
    border-color: #b3b3b3;
}

.jqx-progressbar-custom_daniel {
    background: #f7f7f7 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jqx-progressbar-value-custom_daniel, .jqx-splitter-collapse-button-horizontal-custom_daniel {
    background-color: #428bca;
}

.jqx-splitter-collapse-button-vertical-custom_daniel, .jqx-progressbar-value-vertical-custom_daniel {
    background-color: #428bca;
}

.jqx-scrollbar-thumb-state-pressed-custom_daniel, .jqx-splitter-splitbar-vertical-custom_daniel, .jqx-splitter-splitbar-horizontal-custom_daniel, .jqx-scrollbar-thumb-state-pressed-horizontal-custom_daniel {
    background: #d9d9d9;
    border-color: #b3b3b3;
}

.jqx-grid-column-sortdescbutton-custom_daniel, jqx-grid-column-filterbutton-custom_daniel, .jqx-grid-column-sortascbutton-custom_daniel {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #cccccc;
}

.jqx-slider-rangebar-custom_daniel {
    background: #cccccc;
}

.jqx-menu-vertical-custom_daniel {
    background: #ffffff;
    filter: none;
}

.jqx-checkbox-check-checked-custom_daniel {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC');
}

.jqx-combobox-content-custom_daniel, .jqx-input-custom_daniel {
}

.jqx-combobox-content-custom_daniel {
    border-color: #cccccc;
}

.jqx-fill-state-focus-custom_daniel, .jqx-combobox-content-focus-custom_daniel, .jqx-numberinput-focus-custom_daniel {
    outline: none;
    border-color: #b3b3b3;
}

.jqx-grid-bottomright-custom_daniel, .jqx-panel-bottomright-custom_daniel, .jqx-listbox-bottomright-custom_daniel {
    background-color: #efefef;
}

.jqx-tabs-title-custom_daniel,
.jqx-tabs-title-bottom-custom_daniel, .jqx-expander-header-custom_daniel {
    color: #0088cc !important;
}

    .jqx-expander-header-custom_daniel:hover {
        color: #005580 !important;
        cursor: pointer;
    }

.jqx-tabs-title-hover-top-custom_daniel,
.jqx-tabs-title-hover-bottom-custom_daniel {
    color: #005580 !important;
    background: #eee;
    border-color: #eee;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.jqx-tabs-title-selected-top-custom_daniel, .jqx-tabs-selection-tracker-top-custom_daniel {
    border-color: #ddd;
    border-bottom: 1px solid #fff;
    filter: none;
    color: #555555 !important;
    background: #fff;
    box-shadow: none;
}

.jqx-tabs-title-selected-bottom-custom_daniel, .jqx-tabs-selection-tracker-bottom-custom_daniel {
    border-color: #ddd;
    border-top: 1px solid #fff;
    filter: none;
    color: #555555 !important;
    background: #fff;
    box-shadow: none;
}

.jqx-tabs-header-custom_daniel {
    background: #fff;
    border-color: #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jqx-tabs-custom_daniel {
    border-color: #ddd;
}

.jqx-window-custom_daniel, .jqx-tooltip-custom_daniel {
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}

.jqx-docking-custom_daniel .jqx-window-custom_daniel {
    box-shadow: none;
}

.jqx-docking-panel-custom_daniel .jqx-window-custom_daniel {
    box-shadow: none;
}

.jqx-radiobutton-custom_daniel {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background: none;
}

.jqx-radiobutton-custom_daniel-custom_daniel, .jqx-radiobutton-hover-custom_daniel {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
}

.jqx-radiobutton-check-checked-custom_daniel {
    filter: none;
    background: #666;
    background-repeat: no-repeat;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-radiobutton-check-indeterminate-custom_daniel {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-radiobutton-check-indeterminate-disabled-custom_daniel {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-slider-track-horizontal-custom_daniel, .jqx-slider-track-vertical-custom_daniel {
    border-color: #cccccc;
    background: #f0f0f0;
}

.jqx-slider-button-custom_daniel {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-fill-state-normal-custom_daniel.jqx-primary {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}

.jqx-fill-state-hover-custom_daniel.jqx-primary {
    color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.jqx-fill-state-pressed-custom_daniel.jqx-primary {
    color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.jqx-fill-state-normal-custom_daniel.jqx-warning {
    color: #ffffff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.jqx-fill-state-hover-custom_daniel.jqx-warning {
    color: #ffffff;
    background-color: #ed9c28;
    border-color: #d58512;
}

.jqx-fill-state-pressed-custom_daniel.jqx-warning {
    color: #ffffff;
    background-color: #ed9c28;
    border-color: #d58512;
}

.jqx-fill-state-normal-custom_daniel.jqx-danger {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.jqx-fill-state-hover-custom_daniel.jqx-danger {
    color: #ffffff;
    background-color: #d2322d;
    border-color: #ac2925;
}

.jqx-fill-state-pressed-custom_daniel.jqx-danger {
    color: #ffffff;
    background-color: #d2322d;
    border-color: #ac2925;
}

.jqx-fill-state-normal-custom_daniel.jqx-success {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.jqx-fill-state-hover-custom_daniel.jqx-success {
    color: #ffffff;
    background-color: #47a447;
    border-color: #398439;
}

.jqx-fill-state-pressed-custom_daniel.jqx-success {
    color: #ffffff;
    background-color: #47a447;
    border-color: #398439;
}

.jqx-fill-state-normal-custom_daniel.jqx-info {
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.jqx-fill-state-hover-custom_daniel.jqx-info {
    color: #ffffff;
    background-color: #39b3d7;
    border-color: #269abc;
}

.jqx-fill-state-pressed-custom_daniel.jqx-info {
    color: #ffffff;
    background-color: #39b3d7;
    border-color: #269abc;
}

.jqx-fill-state-normal-custom_daniel.jqx-inverse {
    color: #ffffff;
    background-color: #222222;
    border-color: #080808;
}

.jqx-fill-state-hover-custom_daniel.jqx-inverse {
    color: #ffffff;
    background-color: #080808;
}

.jqx-fill-state-pressed-custom_daniel.jqx-inverse {
    color: #ffffff;
    background-color: #080808;
}

/*applied to a list item when the item is selected.*/
.jqx-listitem-state-hover-custom_daniel, .jqx-menu-item-hover-custom_daniel, .jqx-tree-item-hover-custom_daniel, .jqx-calendar-cell-hover-custom_daniel, .jqx-grid-cell-hover-custom_daniel,
.jqx-menu-vertical-custom_daniel .jqx-menu-item-top-hover-custom_daniel, .jqx-input-popup-custom_daniel .jqx-fill-state-hover-custom_daniel,
.jqx-input-button-header-custom_daniel, .jqx-input-popup-custom_daniel .jqx-fill-state-pressed-custom_daniel,
.jqx-input-button-header-custom_daniel {
    color: #ffffff !important;
    color: #333333 !important;
    background-color: #ebebeb !important;
    border-color: #ebebeb !important;
    outline: 0;
}
.jqx-grid-cell-hover-custom_daniel {
    border-color: #ccc !important;
}
.jqx-listitem-state-selected-custom_daniel, .jqx-menu-item-selected-custom_daniel, .jqx-tree-item-selected-custom_daniel, .jqx-calendar-cell-selected-custom_daniel, .jqx-grid-cell-selected-custom_daniel,
.jqx-menu-vertical-custom_daniel .jqx-menu-item-top-selected-custom_daniel, .jqx-grid-selectionarea-custom_daniel {
    color: #ffffff !important;
    background-color: #428bca !important;
    border-color: #357ebd !important;
}
/*top rounded Corners*/
.jqx-rc-t-expanded-custom_daniel {
    -moz-border-radius-topleft: 4px !important;
    -webkit-border-top-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    -moz-border-radius-topright: 4px !important;
    -webkit-border-top-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
/*bottom rounded Corners*/
.jqx-rc-b-expanded-custom_daniel {
    -moz-border-radius-bottomleft: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    -moz-border-radius-bottomright: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.jqx-popup-custom_daniel.jqx-listbox-custom_daniel, .jqx-popup-custom_daniel.jqx-calendar-custom_daniel {
    top: 2px !important;
    position: relative;
}

.jqx-popup-up-custom_daniel.jqx-listbox-custom_daniel, .jqx-popup-up-custom_daniel.jqx-calendar-custom_daniel {
    top: 23px !important;
    position: relative;
}

.jqx-menu-popup-custom_daniel > div:first-child {
    padding-bottom: 15px !important;
    padding-right: 15px !important;
}

.jqx-menu-dropdown-custom_daniel, .jqx-popup-custom_daniel.jqx-dropdownbutton-popup-custom_daniel {
    margin-top: 2px !important;
}

.jqx-popup-custom_daniel {
    border: 1px solid #ccc;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    -webkit-background-clip: padding-box !important;
    -moz-background-clip: padding !important;
    background-clip: padding-box !important;
}

.jqx-widget-custom_daniel .jqx-grid-cell-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-column-header-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-group-cell {
    border-color: #ccc;
}

.jqx-widget-custom_daniel .jqx-grid-column-menubutton-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-column-sortascbutton-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-column-sortdescbutton-custom_daniel, .jqx-widget .jqx-grid-column-filterbutton-custom_daniel {
    border-color: #ccc;
}

.jqx-grid-column-sortascbutton-custom_daniel, .jqx-expander-arrow-bottom-custom_daniel, .jqx-window-collapse-button-custom_daniel, .jqx-menu-item-arrow-up-custom_daniel, .jqx-menu-item-arrow-up-selected-custom_daniel, .jqx-menu-item-arrow-top-up-custom_daniel, .jqx-icon-arrow-up-custom_daniel, .jqx-icon-arrow-up-hover-custom_daniel, .jqx-icon-arrow-up-selected-custom_daniel {
    background-image: url('images/icon-up.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-widget-custom_daniel .jqx-grid-group-expand-custom_daniel, .jqx-grid-group-expand-custom_daniel, .jqx-grid-column-menubutton-custom_daniel, .jqx-grid-column-sortdescbutton-custom_daniel, .jqx-expander-arrow-top-custom_daniel, .jqx-window-collapse-button-collapsed-custom_daniel, .jqx-menu-item-arrow-down-custom_daniel, .jqx-menu-item-arrow-down-selected-custom_daniel, .jqx-menu-item-arrow-down-custom_daniel, .jqx-icon-arrow-down-custom_daniel, .jqx-icon-arrow-down-hover-custom_daniel, .jqx-icon-arrow-down-selected-custom_daniel {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-tabs-arrow-left-custom_daniel, .jqx-menu-item-arrow-left-selected-custom_daniel, .jqx-menu-item-arrow-top-left, .jqx-icon-arrow-left-custom_daniel, .jqx-icon-arrow-down-left-custom_daniel, .jqx-icon-arrow-left-selected-custom_daniel {
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-widget-custom_daniel .jqx-grid-group-collapse-custom_daniel, .jqx-grid-group-collapse-custom_daniel, .jqx-tabs-arrow-right-custom_daniel, .jqx-menu-item-arrow-right-selected-custom_daniel, .jqx-menu-item-arrow-top-right-custom_daniel, .jqx-icon-arrow-right-custom_daniel, .jqx-icon-arrow-right-hover-custom_daniel, .jqx-icon-arrow-right-selected-custom_daniel {
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-tree-item-arrow-collapse-rtl-custom_daniel, .jqx-tree-item-arrow-collapse-hover-rtl-custom_daniel {
    background-image: url(images/icon-left.png);
}

.jqx-menu-item-arrow-left-selected-custom_daniel {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-menu-item-arrow-right-selected-custom_daniel {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-primary .jqx-grid-column-sortascbutton-custom_daniel, .jqx-primary .jqx-expander-arrow-bottom-custom_daniel, .jqx-primary .jqx-window-collapse-button-custom_daniel, .jqx-primary .jqx-menu-item-arrow-up-custom_daniel, .jqx-primary .jqx-menu-item-arrow-up-selected-custom_daniel, .jqx-primary .jqx-menu-item-arrow-top-up-custom_daniel, .jqx-primary .jqx-icon-arrow-up-custom_daniel, .jqx-primary .jqx-icon-arrow-up-hover-custom_daniel, .jqx-primary .jqx-icon-arrow-up-selected-custom_daniel {
    background-image: url('images/icon-up-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-primary .jqx-widget-custom_daniel .jqx-primary .jqx-grid-group-expand-custom_daniel, .jqx-primary .jqx-grid-group-expand-custom_daniel, .jqx-primary .jqx-grid-column-menubutton-custom_daniel, .jqx-primary .jqx-grid-column-sortdescbutton-custom_daniel, .jqx-primary .jqx-expander-arrow-top-custom_daniel, .jqx-primary .jqx-window-collapse-button-collapsed-custom_daniel, .jqx-primary .jqx-menu-item-arrow-down-custom_daniel, .jqx-primary .jqx-menu-item-arrow-down-selected-custom_daniel, .jqx-primary .jqx-menu-item-arrow-down-custom_daniel, .jqx-primary .jqx-icon-arrow-down-custom_daniel, .jqx-primary .jqx-icon-arrow-down-hover-custom_daniel, .jqx-primary .jqx-icon-arrow-down-selected-custom_daniel {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-primary .jqx-tabs-arrow-left-custom_daniel, .jqx-primary .jqx-menu-item-arrow-left-selected-custom_daniel, .jqx-primary .jqx-menu-item-arrow-top-left, .jqx-primary .jqx-icon-arrow-left-custom_daniel, .jqx-primary .jqx-icon-arrow-down-left-custom_daniel, .jqx-primary .jqx-icon-arrow-left-selected-custom_daniel {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-primary .jqx-widget-custom_daniel .jqx-primary .jqx-grid-group-collapse-custom_daniel, .jqx-primary .jqx-grid-group-collapse-custom_daniel, .jqx-primary .jqx-tabs-arrow-right-custom_daniel, .jqx-primary .jqx-menu-item-arrow-right-selected-custom_daniel, .jqx-primary .jqx-menu-item-arrow-top-right-custom_daniel, .jqx-primary .jqx-icon-arrow-right-custom_daniel, .jqx-primary .jqx-icon-arrow-right-hover-custom_daniel, .jqx-primary .jqx-icon-arrow-right-selected-custom_daniel {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-primary .jqx-window-close-button-custom_daniel, .jqx-primary .jqx-icon-close-custom_daniel, .jqx-primary .jqx-tabs-close-button-custom_daniel, .jqx-primary .jqx-tabs-close-button-hover-custom_daniel, .jqx-primary .jqx-tabs-close-button-selected-custom_daniel {
    background-image: url(images/close_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-primary .jqx-tree-item-arrow-collapse-rtl-custom_daniel, .jqx-primary .jqx-tree-item-arrow-collapse-hover-rtl-custom_daniel {
    background-image: url(images/icon-left.png);
}

.jqx-warning .jqx-grid-column-sortascbutton-custom_daniel, .jqx-warning .jqx-expander-arrow-bottom-custom_daniel, .jqx-warning .jqx-window-collapse-button-custom_daniel, .jqx-warning .jqx-menu-item-arrow-up-custom_daniel, .jqx-warning .jqx-menu-item-arrow-up-selected-custom_daniel, .jqx-warning .jqx-menu-item-arrow-top-up-custom_daniel, .jqx-warning .jqx-icon-arrow-up-custom_daniel, .jqx-warning .jqx-icon-arrow-up-hover-custom_daniel, .jqx-warning .jqx-icon-arrow-up-selected-custom_daniel {
    background-image: url('images/icon-up-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-warning .jqx-widget-custom_daniel .jqx-warning .jqx-grid-group-expand-custom_daniel, .jqx-warning .jqx-grid-group-expand-custom_daniel, .jqx-warning .jqx-grid-column-menubutton-custom_daniel, .jqx-warning .jqx-grid-column-sortdescbutton-custom_daniel, .jqx-warning .jqx-expander-arrow-top-custom_daniel, .jqx-warning .jqx-window-collapse-button-collapsed-custom_daniel, .jqx-warning .jqx-menu-item-arrow-down-custom_daniel, .jqx-warning .jqx-menu-item-arrow-down-selected-custom_daniel, .jqx-warning .jqx-menu-item-arrow-down-custom_daniel, .jqx-warning .jqx-icon-arrow-down-custom_daniel, .jqx-warning .jqx-icon-arrow-down-hover-custom_daniel, .jqx-warning .jqx-icon-arrow-down-selected-custom_daniel {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-warning .jqx-tabs-arrow-left-custom_daniel, .jqx-warning .jqx-menu-item-arrow-left-selected-custom_daniel, .jqx-warning .jqx-menu-item-arrow-top-left, .jqx-warning .jqx-icon-arrow-left-custom_daniel, .jqx-warning .jqx-icon-arrow-down-left-custom_daniel, .jqx-warning .jqx-icon-arrow-left-selected-custom_daniel {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-warning .jqx-widget-custom_daniel .jqx-warning .jqx-grid-group-collapse-custom_daniel, .jqx-warning .jqx-grid-group-collapse-custom_daniel, .jqx-warning .jqx-tabs-arrow-right-custom_daniel, .jqx-warning .jqx-menu-item-arrow-right-selected-custom_daniel, .jqx-warning .jqx-menu-item-arrow-top-right-custom_daniel, .jqx-warning .jqx-icon-arrow-right-custom_daniel, .jqx-warning .jqx-icon-arrow-right-hover-custom_daniel, .jqx-warning .jqx-icon-arrow-right-selected-custom_daniel {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-warning .jqx-window-close-button-custom_daniel, .jqx-warning .jqx-icon-close-custom_daniel, .jqx-warning .jqx-tabs-close-button-custom_daniel, .jqx-warning .jqx-tabs-close-button-hover-custom_daniel, .jqx-warning .jqx-tabs-close-button-selected-custom_daniel {
    background-image: url(images/close_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-warning .jqx-tree-item-arrow-collapse-rtl-custom_daniel, .jqx-warning .jqx-tree-item-arrow-collapse-hover-rtl-custom_daniel {
    background-image: url(images/icon-left.png);
}

.jqx-danger .jqx-grid-column-sortascbutton-custom_daniel, .jqx-danger .jqx-expander-arrow-bottom-custom_daniel, .jqx-danger .jqx-window-collapse-button-custom_daniel, .jqx-danger .jqx-menu-item-arrow-up-custom_daniel, .jqx-danger .jqx-menu-item-arrow-up-selected-custom_daniel, .jqx-danger .jqx-menu-item-arrow-top-up-custom_daniel, .jqx-danger .jqx-icon-arrow-up-custom_daniel, .jqx-danger .jqx-icon-arrow-up-hover-custom_daniel, .jqx-danger .jqx-icon-arrow-up-selected-custom_daniel {
    background-image: url('images/icon-up-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-danger .jqx-widget-custom_daniel .jqx-danger .jqx-grid-group-expand-custom_daniel, .jqx-danger .jqx-grid-group-expand-custom_daniel, .jqx-danger .jqx-grid-column-menubutton-custom_daniel, .jqx-danger .jqx-grid-column-sortdescbutton-custom_daniel, .jqx-danger .jqx-expander-arrow-top-custom_daniel, .jqx-danger .jqx-window-collapse-button-collapsed-custom_daniel, .jqx-danger .jqx-menu-item-arrow-down-custom_daniel, .jqx-danger .jqx-menu-item-arrow-down-selected-custom_daniel, .jqx-danger .jqx-menu-item-arrow-down-custom_daniel, .jqx-danger .jqx-icon-arrow-down-custom_daniel, .jqx-danger .jqx-icon-arrow-down-hover-custom_daniel, .jqx-danger .jqx-icon-arrow-down-selected-custom_daniel {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-danger .jqx-tabs-arrow-left-custom_daniel, .jqx-danger .jqx-menu-item-arrow-left-selected-custom_daniel, .jqx-danger .jqx-menu-item-arrow-top-left, .jqx-danger .jqx-icon-arrow-left-custom_daniel, .jqx-danger .jqx-icon-arrow-down-left-custom_daniel, .jqx-danger .jqx-icon-arrow-left-selected-custom_daniel {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-danger .jqx-widget-custom_daniel .jqx-danger .jqx-grid-group-collapse-custom_daniel, .jqx-danger .jqx-grid-group-collapse-custom_daniel, .jqx-danger .jqx-tabs-arrow-right-custom_daniel, .jqx-danger .jqx-menu-item-arrow-right-selected-custom_daniel, .jqx-danger .jqx-menu-item-arrow-top-right-custom_daniel, .jqx-danger .jqx-icon-arrow-right-custom_daniel, .jqx-danger .jqx-icon-arrow-right-hover-custom_daniel, .jqx-danger .jqx-icon-arrow-right-selected-custom_daniel {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-danger .jqx-window-close-button-custom_daniel, .jqx-danger .jqx-icon-close-custom_daniel, .jqx-danger .jqx-tabs-close-button-custom_daniel, .jqx-danger .jqx-tabs-close-button-hover-custom_daniel, .jqx-danger .jqx-tabs-close-button-selected-custom_daniel {
    background-image: url(images/close_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-danger .jqx-tree-item-arrow-collapse-rtl-custom_daniel, .jqx-danger .jqx-tree-item-arrow-collapse-hover-rtl-custom_daniel {
    background-image: url(images/icon-left.png);
}

.jqx-info .jqx-grid-column-sortascbutton-custom_daniel, .jqx-info .jqx-expander-arrow-bottom-custom_daniel, .jqx-info .jqx-window-collapse-button-custom_daniel, .jqx-info .jqx-menu-item-arrow-up-custom_daniel, .jqx-info .jqx-menu-item-arrow-up-selected-custom_daniel, .jqx-info .jqx-menu-item-arrow-top-up-custom_daniel, .jqx-info .jqx-icon-arrow-up-custom_daniel, .jqx-info .jqx-icon-arrow-up-hover-custom_daniel, .jqx-info .jqx-icon-arrow-up-selected-custom_daniel {
    background-image: url('images/icon-up-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-info .jqx-widget-custom_daniel .jqx-info .jqx-grid-group-expand-custom_daniel, .jqx-info .jqx-grid-group-expand-custom_daniel, .jqx-info .jqx-grid-column-menubutton-custom_daniel, .jqx-info .jqx-grid-column-sortdescbutton-custom_daniel, .jqx-info .jqx-expander-arrow-top-custom_daniel, .jqx-info .jqx-window-collapse-button-collapsed-custom_daniel, .jqx-info .jqx-menu-item-arrow-down-custom_daniel, .jqx-info .jqx-menu-item-arrow-down-selected-custom_daniel, .jqx-info .jqx-menu-item-arrow-down-custom_daniel, .jqx-info .jqx-icon-arrow-down-custom_daniel, .jqx-info .jqx-icon-arrow-down-hover-custom_daniel, .jqx-info .jqx-icon-arrow-down-selected-custom_daniel {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-info .jqx-tabs-arrow-left-custom_daniel, .jqx-info .jqx-menu-item-arrow-left-selected-custom_daniel, .jqx-info .jqx-menu-item-arrow-top-left, .jqx-info .jqx-icon-arrow-left-custom_daniel, .jqx-info .jqx-icon-arrow-down-left-custom_daniel, .jqx-info .jqx-icon-arrow-left-selected-custom_daniel {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-info .jqx-widget-custom_daniel .jqx-info .jqx-grid-group-collapse-custom_daniel, .jqx-info .jqx-grid-group-collapse-custom_daniel, .jqx-info .jqx-tabs-arrow-right-custom_daniel, .jqx-info .jqx-menu-item-arrow-right-selected-custom_daniel, .jqx-info .jqx-menu-item-arrow-top-right-custom_daniel, .jqx-info .jqx-icon-arrow-right-custom_daniel, .jqx-info .jqx-icon-arrow-right-hover-custom_daniel, .jqx-info .jqx-icon-arrow-right-selected-custom_daniel {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-info .jqx-window-close-button-custom_daniel, .jqx-info .jqx-icon-close-custom_daniel, .jqx-info .jqx-tabs-close-button-custom_daniel, .jqx-info .jqx-tabs-close-button-hover-custom_daniel, .jqx-info .jqx-tabs-close-button-selected-custom_daniel {
    background-image: url(images/close_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-info .jqx-tree-item-arrow-collapse-rtl-custom_daniel, .jqx-info .jqx-tree-item-arrow-collapse-hover-rtl-custom_daniel {
    background-image: url(images/icon-left.png);
}

.jqx-success .jqx-grid-column-sortascbutton-custom_daniel, .jqx-success .jqx-expander-arrow-bottom-custom_daniel, .jqx-success .jqx-window-collapse-button-custom_daniel, .jqx-success .jqx-menu-item-arrow-up-custom_daniel, .jqx-success .jqx-menu-item-arrow-up-selected-custom_daniel, .jqx-success .jqx-menu-item-arrow-top-up-custom_daniel, .jqx-success .jqx-icon-arrow-up-custom_daniel, .jqx-success .jqx-icon-arrow-up-hover-custom_daniel, .jqx-success .jqx-icon-arrow-up-selected-custom_daniel {
    background-image: url('images/icon-up-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-success .jqx-widget-custom_daniel .jqx-success .jqx-grid-group-expand-custom_daniel, .jqx-success .jqx-grid-group-expand-custom_daniel, .jqx-success .jqx-grid-column-menubutton-custom_daniel, .jqx-success .jqx-grid-column-sortdescbutton-custom_daniel, .jqx-success .jqx-expander-arrow-top-custom_daniel, .jqx-success .jqx-window-collapse-button-collapsed-custom_daniel, .jqx-success .jqx-menu-item-arrow-down-custom_daniel, .jqx-success .jqx-menu-item-arrow-down-selected-custom_daniel, .jqx-success .jqx-menu-item-arrow-down-custom_daniel, .jqx-success .jqx-icon-arrow-down-custom_daniel, .jqx-success .jqx-icon-arrow-down-hover-custom_daniel, .jqx-success .jqx-icon-arrow-down-selected-custom_daniel {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-success .jqx-tabs-arrow-left-custom_daniel, .jqx-success .jqx-menu-item-arrow-left-selected-custom_daniel, .jqx-success .jqx-menu-item-arrow-top-left, .jqx-success .jqx-icon-arrow-left-custom_daniel, .jqx-success .jqx-icon-arrow-down-left-custom_daniel, .jqx-success .jqx-icon-arrow-left-selected-custom_daniel {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-success .jqx-widget-custom_daniel .jqx-success .jqx-grid-group-collapse-custom_daniel, .jqx-success .jqx-grid-group-collapse-custom_daniel, .jqx-success .jqx-tabs-arrow-right-custom_daniel, .jqx-success .jqx-menu-item-arrow-right-selected-custom_daniel, .jqx-success .jqx-menu-item-arrow-top-right-custom_daniel, .jqx-success .jqx-icon-arrow-right-custom_daniel, .jqx-success .jqx-icon-arrow-right-hover-custom_daniel, .jqx-success .jqx-icon-arrow-right-selected-custom_daniel {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-success .jqx-window-close-button-custom_daniel, .jqx-success .jqx-icon-close-custom_daniel, .jqx-success .jqx-tabs-close-button-custom_daniel, .jqx-success .jqx-tabs-close-button-hover-custom_daniel, .jqx-success .jqx-tabs-close-button-selected-custom_daniel {
    background-image: url(images/close_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-success .jqx-tree-item-arrow-collapse-rtl-custom_daniel, .jqx-success .jqx-tree-item-arrow-collapse-hover-rtl-custom_daniel {
    background-image: url(images/icon-left.png);
}

.jqx-inverse .jqx-grid-column-sortascbutton-custom_daniel, .jqx-inverse .jqx-expander-arrow-bottom-custom_daniel, .jqx-inverse .jqx-window-collapse-button-custom_daniel, .jqx-inverse .jqx-menu-item-arrow-up-custom_daniel, .jqx-inverse .jqx-menu-item-arrow-up-selected-custom_daniel, .jqx-inverse .jqx-menu-item-arrow-top-up-custom_daniel, .jqx-inverse .jqx-icon-arrow-up-custom_daniel, .jqx-inverse .jqx-icon-arrow-up-hover-custom_daniel, .jqx-inverse .jqx-icon-arrow-up-selected-custom_daniel {
    background-image: url('images/icon-up-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-inverse .jqx-widget-custom_daniel .jqx-inverse .jqx-grid-group-expand-custom_daniel, .jqx-inverse .jqx-grid-group-expand-custom_daniel, .jqx-inverse .jqx-grid-column-menubutton-custom_daniel, .jqx-inverse .jqx-grid-column-sortdescbutton-custom_daniel, .jqx-inverse .jqx-expander-arrow-top-custom_daniel, .jqx-inverse .jqx-window-collapse-button-collapsed-custom_daniel, .jqx-inverse .jqx-menu-item-arrow-down-custom_daniel, .jqx-inverse .jqx-menu-item-arrow-down-selected-custom_daniel, .jqx-inverse .jqx-menu-item-arrow-down-custom_daniel, .jqx-inverse .jqx-icon-arrow-down-custom_daniel, .jqx-inverse .jqx-icon-arrow-down-hover-custom_daniel, .jqx-inverse .jqx-icon-arrow-down-selected-custom_daniel {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-inverse .jqx-tabs-arrow-left-custom_daniel, .jqx-inverse .jqx-menu-item-arrow-left-selected-custom_daniel, .jqx-inverse .jqx-menu-item-arrow-top-left, .jqx-inverse .jqx-icon-arrow-left-custom_daniel, .jqx-inverse .jqx-icon-arrow-down-left-custom_daniel, .jqx-inverse .jqx-icon-arrow-left-selected-custom_daniel {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-inverse .jqx-widget-custom_daniel .jqx-inverse .jqx-grid-group-collapse-custom_daniel, .jqx-inverse .jqx-grid-group-collapse-custom_daniel, .jqx-inverse .jqx-tabs-arrow-right-custom_daniel, .jqx-inverse .jqx-menu-item-arrow-right-selected-custom_daniel, .jqx-inverse .jqx-menu-item-arrow-top-right-custom_daniel, .jqx-inverse .jqx-icon-arrow-right-custom_daniel, .jqx-inverse .jqx-icon-arrow-right-hover-custom_daniel, .jqx-inverse .jqx-icon-arrow-right-selected-custom_daniel {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-inverse .jqx-window-close-button-custom_daniel, .jqx-inverse .jqx-icon-close-custom_daniel, .jqx-inverse .jqx-tabs-close-button-custom_daniel, .jqx-inverse .jqx-tabs-close-button-hover-custom_daniel, .jqx-inverse .jqx-tabs-close-button-selected-custom_daniel {
    background-image: url(images/close_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-inverse .jqx-tree-item-arrow-collapse-rtl-custom_daniel, .jqx-inverse .jqx-tree-item-arrow-collapse-hover-rtl-custom_daniel {
    background-image: url(images/icon-left.png);
}


.jqx-input-button-content-custom_daniel {
    font-size: 10px;
}

.jqx-combobox-content-custom_daniel, .jqx-input-custom_daniel {
    border-color: #cccccc;
    color: #555555;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.jqx-combobox-content-custom_daniel, .jqx-combobox-custom_daniel, .jqx-combobox-state-normal-custom_daniel {
    border-color: #cccccc;
}

.jqx-combobox-content-focus-custom_daniel, .jqx-combobox-state-focus-custom_daniel, .jqx-fill-state-focus-custom_daniel,
.jqx-numberinput-focus-custom_daniel {
    outline: none;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.jqx-datetimeinput-content, .jqx-datetimeinput-container {
    overflow: visible !important;
}

input[type="text"].jqx-input-custom_daniel, input[type="text"].jqx-widget-content-custom_daniel, input[type="textarea"].jqx-widget-content-custom_daniel, textarea.jqx-input-custom_daniel {
    padding-left: 0px !important;
}

input[type="text"].jqx-input-custom_daniel:-moz-placeholder, input[type="text"].jqx-widget-content-custom_daniel:-moz-placeholder, input[type="textarea"].jqx-widget-content-custom_daniel:-moz-placeholder, textarea.jqx-input-custom_daniel:-moz-placeholder {
    color: #999999;
}

input[type="text"].jqx-input-custom_daniel:-webkit-input-placeholder, input[type="text"].jqx-widget-content-custom_daniel:-webkit-input-placeholder, input[type="textarea"].jqx-widget-content-custom_daniel:-webkit-input-placeholder, textarea.jqx-input-custom_daniel:-webkit-input-placeholder {
    color: #999999;
}

input[type="text"].jqx-input-custom_daniel:-ms-input-placeholder, input[type="text"].jqx-widget-content-custom_daniel:-ms-input-placeholder, input[type="textarea"].jqx-widget-content-custom_daniel:-ms-input-placeholder, textarea.jqx-input-custom_daniel:-ms-input-placeholder {
    color: #999999;
}

input[type="password"].jqx-input-custom_daniel, input[type="password"].jqx-widget-content-custom_daniel, input[type="textarea"].jqx-widget-content-custom_daniel, textarea.jqx-input-custom_daniel {
    padding-left: 0px !important;
}

input[type="password"].jqx-input-custom_daniel:-moz-placeholder, input[type="password"].jqx-widget-content-custom_daniel:-moz-placeholder, input[type="textarea"].jqx-widget-content-custom_daniel:-moz-placeholder, textarea.jqx-input-custom_daniel:-moz-placeholder {
    color: #999999;
}

input[type="password"].jqx-input-custom_daniel:-webkit-input-placeholder, input[type="password"].jqx-widget-content-custom_daniel:-webkit-input-placeholder, input[type="textarea"].jqx-widget-content-custom_daniel:-webkit-input-placeholder, textarea.jqx-input-custom_daniel:-webkit-input-placeholder {
    color: #999999;
}

input[type="password"].jqx-input-custom_daniel:-ms-input-placeholder, input[type="password"].jqx-widget-content-custom_daniel:-ms-input-placeholder, input[type="textarea"].jqx-widget-content-custom_daniel:-ms-input-placeholder, textarea.jqx-input-custom_daniel:-ms-input-placeholder {
    color: #999999;
}

.jqx-dropdownlist-state-normal-custom_daniel.jqx-fill-state-focus-custom_daniel, .jqx-listbox-custom_daniel.jqx-fill-state-focus-custom_daniel {
    outline: none;
    border-color: #b2b2b2;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.jqx-dropdownlist-state-normal-custom_daniel.jqx-fill-state-focus-custom_daniel.jqx-primary {
    border-color: #0044cc #0044cc #002a80;
}

.jqx-dropdownlist-state-normal-custom_daniel.jqx-fill-state-focus-custom_daniel.jqx-warning {
    border-color: #f89406 #f89406 #ad6704;
}

.jqx-dropdownlist-state-normal-custom_daniel.jqx-fill-state-focus-custom_daniel.jqx-danger {
    border-color: #bd362f #bd362f #802420;
}

.jqx-dropdownlist-state-normal-custom_daniel.jqx-fill-state-focus-custom_daniel.jqx-success {
    border-color: #51a351 #51a351 #387038;
}

.jqx-dropdownlist-state-normal-custom_daniel.jqx-fill-state-focus-custom_daniel.jqx-info {
    border-color: #2f96b4 #2f96b4 #1f6377;
}

.jqx-dropdownlist-state-normal-custom_daniel.jqx-fill-state-focus-custom_daniel.jqx-inverse {
    border-color: #222222 #222222 #000000;
}

.jqx-popup-custom_daniel.jqx-fill-state-focus-custom_daniel {
    border: 1px solid #ccc;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.jqx-expander-content-custom_daniel.jqx-fill-state-focus-custom_daniel {
    z-index: 20;
}

.jqx-slider-rangebar-custom_daniel {
    border-color: #428bca;
    background: #428bca;
}

.jqx-slider-button-custom_daniel {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    padding: 3px;
}

.jqx-grid-cell-custom_daniel.jqx-grid-cell-selected-custom_daniel > .jqx-grid-group-expand-custom_daniel {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-custom_daniel.jqx-grid-cell-selected-custom_daniel > .jqx-grid-group-collapse-custom_daniel {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-custom_daniel.jqx-grid-cell-selected-custom_daniel > .jqx-grid-group-collapse-rtl-custom_daniel {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-custom_daniel.jqx-grid-cell-selected-custom_daniel > .jqx-grid-group-expand-rtl-custom_daniel {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-layout-custom_daniel
{
    background-color: #cccccc;
}.jqx-widget-custom_daniel
{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.jqx-widget-content-custom_daniel
{
  color: #333333;
  text-shadow: none;
  border-color: #e6e6e6;
  background: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.jqx-widget-header-custom_daniel, .jqx-grid-custom_daniel .jqx-widget-header-custom_daniel
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #4DF253;
  background-color: #B25959;
  background-image: -moz-linear-gradient(top, #B25959, #259BC6);
  background-image: -ms-linear-gradient(top, #B25959, #259BC6);
  background-image: -o-linear-gradient(top, #B25959, #259BC6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#B25959), to(#259BC6));
  background-image: -webkit-linear-gradient(top, #B25959, #259BC6);
  background-image: linear-gradient(top, #B25959, #259BC6);
  background-image: linear-gradient(to bottom, #B25959, #259BC6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.jqx-grid-column-menubutton-custom_daniel, .jqx-widget-custom_daniel.jqx-grid-column-menubutton-custom_daniel
{
  border-color: #4DF253;
}
.jqx-grid-cell-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-cell-custom_daniel
{
  background-color: #ffffff;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-custom_daniel
{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.jqx-button-custom_daniel
{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.jqx-grid-selectionarea-custom_daniel
{
}
.jqx-widget-custom_daniel .jqx-grid-cell-sort-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-cell-filter-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-cell-pinned-custom_daniel, .jqx-grid-cell-sort-custom_daniel, .jqx-grid-cell-filter-custom_daniel, .jqx-grid-cell-pinned-custom_daniel
{
  background-color: #E5E5E5;
  color: #000000;
  text-shadow: none;
}
.jqx-widget-custom_daniel .jqx-grid-cell-alt-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-cell-sort-alt-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-cell-pinned-alt-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-cell-filter-alt-custom_daniel, .jqx-grid-cell-alt-custom_daniel, .jqx-grid-cell-sort-alt-custom_daniel, .jqx-grid-cell-filter-alt-custom_daniel
{
  background-color: #f9f9f9;
  color: #000000;
  text-shadow: none;
}
.jqx-fill-state-hover-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-cell-hover-custom_daniel
{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.jqx-fill-state-pressed-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-cell-selected-custom_daniel
{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.jqx-switchbutton-label-on-custom_daniel
{
}
.jqx-tabs-title-selected-top-custom_daniel, .jqx-tabs-selection-tracker-top-custom_daniel
{
  color: #333333;
  text-shadow: none;
  border-color: #e6e6e6;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-custom_daniel, .jqx-tabs-selection-tracker-bottom-custom_daniel
{
  color: #333333;
  text-shadow: none;
  border-color: #e6e6e6;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-custom_daniel
{
}
.jqx-splitter-splitbar-vertical-custom_daniel, .jqx-splitter-splitbar-horizontal-custom_daniel, .jqx-slider-track-horizontal-custom_daniel, .jqx-slider-track-vertical-custom_daniel
{
}
.jqx-splitter-collapse-button-horizontal-custom_daniel, .jqx-splitter-collapse-button-vertical-custom_daniel, .jqx-slider-rangebar-custom_daniel
{
}
.jqx-scrollbar-state-normal-custom_daniel
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}
.jqx-grid-bottomright-custom_daniel, .jqx-panel-bottomright-custom_daniel, .jqx-listbox-bottomright-custom_daniel
{
  background-color: #f0f0f0;
}
.jqx-scrollbar-thumb-state-normal-custom_daniel
{
  background-color: #e6e6e6;
  background-color: #e6e6e6;
  background-image: -moz-linear-gradient(left, #e6e6e6, #e6e6e6);
  background-image: -ms-linear-gradient(left, #e6e6e6, #e6e6e6);
  background-image: -o-linear-gradient(left, #e6e6e6, #e6e6e6);
  background-image: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#e6e6e6));
  background-image: -webkit-linear-gradient(left, #e6e6e6, #e6e6e6);
  background-image: linear-gradient(left, #e6e6e6, #e6e6e6);
  background-image: linear-gradient(left right, #e6e6e6, #e6e6e6);
}
.jqx-scrollbar-thumb-state-normal-horizontal-custom_daniel
{
  background-color: #e6e6e6;
  background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: -ms-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: -o-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e6e6e6), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: linear-gradient(to bottom, #e6e6e6, #e6e6e6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-custom_daniel
{
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  background-image: -moz-linear-gradient(left, #e6e6e6, #e6e6e6);
  background-image: -ms-linear-gradient(left, #e6e6e6, #e6e6e6);
  background-image: -o-linear-gradient(left, #e6e6e6, #e6e6e6);
  background-image: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#e6e6e6));
  background-image: -webkit-linear-gradient(left, #e6e6e6, #e6e6e6);
  background-image: linear-gradient(left, #e6e6e6, #e6e6e6);
  background-image: linear-gradient(left right, #e6e6e6, #e6e6e6);
}
.jqx-scrollbar-thumb-state-hover-horizontal-custom_daniel
{
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: -ms-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: -o-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e6e6e6), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: linear-gradient(to bottom, #e6e6e6, #e6e6e6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-custom_daniel
{
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  background-image: -moz-linear-gradient(left, #d9d9d9, #d9d9d9);
  background-image: -ms-linear-gradient(left, #d9d9d9, #d9d9d9);
  background-image: -o-linear-gradient(left, #d9d9d9, #d9d9d9);
  background-image: -webkit-gradient(linear, left top, right top, from(#d9d9d9), to(#d9d9d9));
  background-image: -webkit-linear-gradient(left, #d9d9d9, #d9d9d9);
  background-image: linear-gradient(left, #d9d9d9, #d9d9d9);
  background-image: linear-gradient(left right, #d9d9d9, #d9d9d9);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-custom_daniel
{
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  background-image: -moz-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: -ms-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: -o-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d9d9d9), to(#d9d9d9));
  background-image: -webkit-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: linear-gradient(to bottom, #d9d9d9, #d9d9d9);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-custom_daniel
{
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-custom_daniel
{
  background-color: #e6e6e6;
  border-color: #b3b3b3;
  background-image: -moz-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: -ms-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: -o-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e6e6e6), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: linear-gradient(to bottom, #e6e6e6, #e6e6e6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-custom_daniel
{
  background-color: #d9d9d9;
  border-color: #b3b3b3;
  background-image: -moz-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: -ms-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: -o-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d9d9d9), to(#d9d9d9));
  background-image: -webkit-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: linear-gradient(to bottom, #d9d9d9, #d9d9d9);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-custom_daniel
{
  background: #666666;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-custom_daniel
{
  -moz-border-radius-topleft: 4px;
  -webkit-border-radius-topleft: 4px;
  border-radius-topleft: 4px;
}
.jqx-rc-tr-custom_daniel
{
  -moz-border-radius-topright: 4px;
  -webkit-border-radius-topright: 4px;
  border-radius-topright: 4px;
}
.jqx-rc-bl-custom_daniel
{
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-radius-bottomleft: 4px;
  border-radius-bottomleft: 4px;
}
.jqx-rc-br-custom_daniel
{
  -moz-border-radius-bottomright: 4px;
  -webkit-border-radius-bottomright: 4px;
  border-radius-bottomright: 4px;
}
.jqx-rc-t-custom_daniel
{
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.jqx-rc-b-custom_daniel
{
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.jqx-rc-r-custom_daniel
{
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.jqx-rc-l-custom_daniel
{
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.jqx-radiobutton-default-custom_daniel, .jqx-radiobutton-custom_daniel, .jqx-radiobutton-check-checked-custom_daniel, .jqx-radiobutton-hover-custom_daniel, .jqx-radiobutton-check-indeterminate-custom_daniel, .jqx-radiobutton-check-indeterminate-disabled-custom_daniel, .jqx-slider-button-custom_daniel
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-custom_daniel, .jqx-tooltip-custom_daniel, .jqx-tooltip-text-custom_daniel, .jqx-tooltip-main-custom_daniel
{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.jqx-grid-column-sortascbutton-custom_daniel, .jqx-expander-arrow-bottom-custom_daniel, .jqx-window-collapse-button-custom_daniel, .jqx-menu-item-arrow-up-custom_daniel, .jqx-menu-item-arrow-top-up-custom_daniel, .jqx-icon-arrow-up-custom_daniel
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-arrow-up-hover-custom_daniel
{
  background-image: url('images/icon-up.png');
}
.jqx-menu-item-arrow-up-selected-custom_daniel, .jqx-icon-arrow-up-selected-custom_daniel.jqx-expander-arrow-expanded-custom_daniel
{
  background-image: url('images/icon-up.png');
}
.jqx-grid-column-menubutton-custom_daniel, .jqx-grid-column-sortdescbutton-custom_daniel, .jqx-expander-arrow-top-custom_daniel, .jqx-window-collapse-button-collapsed-custom_daniel, .jqx-menu-item-arrow-down-custom_daniel, .jqx-menu-item-arrow-down-custom_daniel, .jqx-tree-item-arrow-expand-custom_daniel, .jqx-grid-group-expand-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-group-expand-custom_daniel, .jqx-icon-arrow-down-custom_daniel
{
  background-image: url('images/icon-down.png');
}
.jqx-icon-arrow-down-hover-custom_daniel
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-down-selected-custom_daniel, .jqx-icon-arrow-down-selected-custom_daniel
{
  background-image: url('images/icon-down.png');
}
.jqx-tabs-arrow-left-custom_daniel, .jqx-menu-item-arrow-top-left-custom_daniel, .jqx-grid-group-collapse-rtl-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-group-collapse-rtl-custom_daniel, .jqx-icon-arrow-left-custom_daniel, .jqx-icon-arrow-down-left-custom_daniel
{
  background-image: url('images/icon-left.png');
}
.jqx-icon-arrow-left-hover-custom_daniel
{
  background-image: url('images/icon-left.png');
}
.jqx-menu-vertical-custom_daniel
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-custom_daniel, .jqx-icon-arrow-left-selected-custom_daniel
{
  background-image: url('images/icon-left.png');
}
.jqx-tabs-arrow-right-custom_daniel, .jqx-menu-item-arrow-top-right-custom_daniel, .jqx-menu-item-arrow-collapse-custom_daniel, .jqx-grid-group-collapse-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-group-collapse-custom_daniel, .jqx-icon-arrow-right-custom_daniel
{
  background-image: url('images/icon-right.png');
}
.jqx-icon-arrow-right-hover-custom_daniel
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-right-selected-custom_daniel, .jqx-icon-arrow-right-selected-custom_daniel
{
  background-image: url('images/icon-right.png');
}
.jqx-window-close-button-custom_daniel, .jqx-tabs-close-button-custom_daniel, .icon-close-custom_daniel
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-selected-custom_daniel
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-hover-custom_daniel
{
  background-image: url('images/close.png');
}
.jqx-widget-custom_daniel .jqx-grid-column-header-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-cell-custom_daniel, .jqx-widget-custom_daniel .jqx-grid-group-cell-custom_daniel, .jqx-grid-cell-custom_daniel
{
  border-color: #cccccc;
}
.jqx-checkbox-check-checked-custom_daniel
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-custom_daniel
{
  background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip-custom_daniel, .jqx-tooltip-main-custom_daniel
{
}
.jqx-combobox-content-custom_daniel, .jqx-input-custom_daniel
{
  color: #333333;
  text-shadow: none;
  border-color: #cccccc;
  background-color: #ffffff;
}
.jqx-combobox-input-custom_daniel
{
  color: #333333;
  text-shadow: none;
}
.jqx-input-content-custom_daniel
{
  color: #333333;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-custom_daniel, .jqx-popup-custom_daniel .jqx-fill-state-focus-custom_daniel
{
  border-color: #52A8EC;
}
.jqx-popup-custom_daniel.jqx-listbox-custom_daniel, .jqx-popup-custom_daniel.jqx-calendar-custom_daniel,.jqx-menu-dropdown-custom_daniel,  .jqx-popup-custom_daniel.jqx-dropdownbutton-popup-custom_daniel
{
  color: #333333;
  text-shadow: none;
  border-color: #e6e6e6;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-custom_daniel, .jqx-tree-item-arrow-collapse-custom_daniel
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-custom_daniel
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-custom_daniel
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-right-hover-custom_daniel
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-hover-custom_daniel
{
  background-image: url('images/icon-left.png');
}
.jqx-menu-item-arrow-right-selected-custom_daniel
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-left-selected-custom_daniel
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-custom_daniel .jqx-icon-arrow-up-custom_daniel
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-custom_daniel .jqx-icon-arrow-left-custom_daniel
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-custom_daniel .jqx-icon-arrow-right-custom_daniel
{
  background-image: url('images/icon-right.png');
}
/* .jqx-scrollbar-custom_daniel .jqx-icon-arrow-bottom-custom_daniel
{
  background-image: url('images/icon-bottom.png');
} */
.jqx-scrollbar-custom_daniel .jqx-icon-arrow-up-hover-custom_daniel
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-custom_daniel .jqx-icon-arrow-left-hover-custom_daniel
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-custom_daniel .jqx-icon-arrow-right-hover-custom_daniel
{
  background-image: url('images/icon-right.png');
}
/* .jqx-scrollbar-custom_daniel .jqx-icon-arrow-bottom-hover-custom_daniel
{
  background-image: url('images/icon-bottom.png');
} */
.jqx-scrollbar-custom_daniel .jqx-icon-arrow-up-selected-custom_daniel
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-custom_daniel .jqx-icon-arrow-left-selected-custom_daniel
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-custom_daniel .jqx-icon-arrow-right-selected-custom_daniel
{
  background-image: url('images/icon-right.png');
}
/* .jqx-scrollbar-custom_daniel .jqx-icon-arrow-bottom-selected-custom_daniel
{
  background-image: url('images/icon-bottom.png');
} */
.jqx-calendar-custom_daniel .jqx-icon-arrow-up-custom_daniel, .jqx-tabs-header-custom_daniel .jqx-icon-arrow-up-custom_daniel
{
}
.jqx-calendar-custom_daniel .jqx-icon-arrow-left-custom_daniel, .jqx-tabs-header-custom_daniel .jqx-icon-arrow-left-custom_daniel
{
}
.jqx-calendar-custom_daniel .jqx-icon-arrow-right-custom_daniel, .jqx-tabs-header-custom_daniel .jqx-icon-arrow-right-custom_daniel
{
}
.jqx-calendar-custom_daniel .jqx-icon-arrow-bottom-custom_daniel, .jqx-tabs-header-custom_daniel .jqx-icon-arrow-bottom-custom_daniel
{
}
.jqx-widget-custom_daniel .jqx-grid-cell-custom_daniel, .jqx-listitem-state-normal-custom_daniel, .jqx-menu-item-normal-custom_daniel, .jqx-tree-item-normal-custom_daniel, .jqx-calendar-cell-custom_daniel, .jqx-grid-cell-custom_daniel,.jqx-menu-vertical-custom_daniel .jqx-menu-item-top-normal-custom_daniel, .jqx-input-popup-custom_daniel .jqx-fill-state-normal-custom_daniel
{
  color: #0088CC;
  text-shadow: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.jqx-widget-custom_daniel .jqx-grid-cell-hover-custom_daniel, .jqx-listitem-state-hover-custom_daniel, .jqx-menu-item-hover-custom_daniel, .jqx-tree-item-hover-custom_daniel, .jqx-calendar-cell-hover-custom_daniel, .jqx-grid-cell-hover-custom_daniel,.jqx-menu-vertical-custom_daniel .jqx-menu-item-top-hover-custom_daniel, .jqx-input-popup-custom_daniel .jqx-fill-state-hover-custom_daniel,.jqx-input-button-header-custom_daniel, .jqx-input-popup-custom_daniel .jqx-fill-state-pressed-custom_daniel,.jqx-input-button-header-custom_daniel
{
  color: #333333 !important;
  text-shadow: none;
  border-color: #ebebeb !important;
  background-color: #ebebeb !important;
  background-image: -moz-linear-gradient(top, #ebebeb, #ebebeb) !important;
  background-image: -ms-linear-gradient(top, #ebebeb, #ebebeb) !important;
  background-image: -o-linear-gradient(top, #ebebeb, #ebebeb) !important;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ebebeb), to(#ebebeb)) !important;
  background-image: -webkit-linear-gradient(top, #ebebeb, #ebebeb) !important;
  background-image: linear-gradient(top, #ebebeb, #ebebeb) !important;
  background-image: linear-gradient(to bottom, #ebebeb, #ebebeb) !important;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.jqx-widget-custom_daniel  .jqx-grid-cell-selected-custom_daniel, .jqx-listitem-state-selected-custom_daniel, .jqx-menu-item-selected-custom_daniel, .jqx-tree-item-selected-custom_daniel, .jqx-calendar-cell-selected-custom_daniel, .jqx-grid-cell-selected-custom_daniel,.jqx-menu-vertical-custom_daniel .jqx-menu-item-top-selected-custom_daniel, .jqx-grid-selectionarea-custom_daniel
{
  color: #ffffff !important;
  text-shadow: none;
  border-color: #357ebd !important;
  background-color: #428bca !important;
  background-image: -moz-linear-gradient(top, #428bca, #428bca) !important;
  background-image: -ms-linear-gradient(top, #428bca, #428bca) !important;
  background-image: -o-linear-gradient(top, #428bca, #428bca) !important;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#428bca), to(#428bca)) !important;
  background-image: -webkit-linear-gradient(top, #428bca, #428bca) !important;
  background-image: linear-gradient(top, #428bca, #428bca) !important;
  background-image: linear-gradient(to bottom, #428bca, #428bca) !important;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.jqx-slider-rangebar-custom_daniel
{
  background-color: #428bca !important;
}
.jqx-progressbar-value-custom_daniel
{
  background-color: #428bca !important;
  background-image: -moz-linear-gradient(top, #428bca, #428bca) !important;
  background-image: -ms-linear-gradient(top, #428bca, #428bca) !important;
  background-image: -o-linear-gradient(top, #428bca, #428bca) !important;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#428bca), to(#428bca)) !important;
  background-image: -webkit-linear-gradient(top, #428bca, #428bca) !important;
  background-image: linear-gradient(top, #428bca, #428bca) !important;
  background-image: linear-gradient(to bottom, #428bca, #428bca) !important;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-progressbar-value-vertical-custom_daniel
{
  background-color: #428bca !important;
  background-image: -moz-linear-gradient(left, #428bca, #428bca) !important;
  background-image: -ms-linear-gradient(left, #428bca, #428bca) !important;
  background-image: -o-linear-gradient(left, #428bca, #428bca) !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#428bca), to(#428bca)) !important;
  background-image: -webkit-linear-gradient(left, #428bca, #428bca) !important;
  background-image: linear-gradient(left, #428bca, #428bca) !important;
  background-image: linear-gradient(left right, #428bca, #428bca) !important;
}
.jqx-splitter-collapse-button-horizontal-custom_daniel
{
  background-color: #428bca !important;
}
.jqx-splitter-collapse-button-vertical-custom_daniel
{
  background-color: #428bca !important;
}
.jqx-tabs-title-custom_daniel, .jqx-tabs-title-bottom-custom_daniel, .jqx-expander-header-custom_daniel
{
  color: #0088CC !important;
  text-shadow: none;
}
.jqx-tabs-title-hover-top-custom_daniel, .jqx-tabs-title-hover-bottom-custom_daniel, .jqx-expander-header-custom_daniel:hover
{
  color: #333333;
  text-shadow: none;
}
.jqx-tabs-title-selected-top-custom_daniel, jqx-tabs-selection-tracker-top-custom_daniel.jqx-tabs-title-selected-bottom-custom_daniel, jqx-tabs-selection-tracker-bottom-custom_daniel, jqx-expander-header-expanded-custom_daniel
{
  color: #0088CC !important;
  text-shadow: none;
}
.jqx-icon-calendar-custom_daniel
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-custom_daniel
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-pressed-custom_daniel
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-first-custom_daniel
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-hover-custom_daniel
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-selected-custom_daniel
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-last-custom_daniel
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-hover-custom_daniel
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-selected-custom_daniel
{
  background-image: url('images/icon-last.png');
}
.jqx-grid-cell-custom_daniel.jqx-grid-cell-custom_daniel>.jqx-grid-group-expand-custom_daniel
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-custom_daniel.jqx-grid-cell-hover-custom_daniel>.jqx-grid-group-expand-custom_daniel
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-custom_daniel.jqx-grid-cell-selected-custom_daniel>.jqx-grid-group-expand-custom_daniel
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-custom_daniel.jqx-grid-cell-custom_daniel>.jqx-grid-group-collapse-custom_daniel
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-custom_daniel.jqx-grid-cell-hover-custom_daniel>.jqx-grid-group-collapse-custom_daniel
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-custom_daniel.jqx-grid-cell-selected-custom_daniel>.jqx-grid-group-collapse-custom_daniel
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-custom_daniel.jqx-grid-cell-custom_daniel>.jqx-grid-group-expand-rtl-custom_daniel
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-custom_daniel.jqx-grid-cell-hover-custom_daniel>.jqx-grid-group-expand-rtl-custom_daniel
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-custom_daniel.jqx-grid-cell-selected-custom_daniel>.jqx-grid-group-expand-rtl-custom_daniel
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-custom_daniel.jqx-grid-cell-custom_daniel>.jqx-grid-group-collapse-rtl-custom_daniel
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-custom_daniel.jqx-grid-cell-hover-custom_daniel>.jqx-grid-group-collapse-rtl-custom_daniel
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-custom_daniel.jqx-grid-cell-selected-custom_daniel>.jqx-grid-group-collapse-rtl-custom_daniel
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-column-menubutton-custom_daniel, .jqx-grid-column-sortdescbutton-custom_daniel
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-column-sortascbutton-custom_daniel
{
  background-image: url('images/metro-icon-up-white.png');
}
/* .jqx-icon-delete-custom_daniel
{
  background-image: url('images/metro-icon-delete-white.png');
} */
/* .jqx-icon-edit-custom_daniel
{
  background-image: url('images/metro-icon-edit-white.png');
} */
/* .jqx-icon-save-custom_daniel
{
  background-image: url('images/metro-icon-save-white.png');
} */
/* .jqx-icon-cancel-custom_daniel
{
  background-image: url('images/metro-icon-cancel-white.png');
}
.jqx-icon-search-custom_daniel
{
  background-image: url('images/icon-search_white.png');
}
.jqx-icon-plus-custom_daniel
{
  background-image: url('images/icon-plus_white.png');
} */
