

.barra
{
  background-color: #1F508D;
  height: 100vh;
  width: 89px;;
}
.logo{

  height: 12vh;
  width: 89px;
  align-content: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnMenu{

  height: 12vh;
  width: 7vw;

  align-content: center;
  vertical-align: middle;
 
  justify-content: center;
  align-items: center;
  text-align: center;


}

.txtLogo{
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 5px !important;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
}


.paddingCol{
  padding: 0px !important;
  margin: 0px !important;
}

.first_title
{
color: #8DC63F;
font-size: 14px;
margin: 0px;
padding: 0px;
font-family: 'Montserrat', sans-serif;
/* margin-top: 5px; */
}

.second_title
{
color: #20569D;
font-size: 36px;
margin: 0px;
padding: 0px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
margin-top: -10px;
}

.personal_data_section
{
  text-align: end;
  margin-left: 40px;
  width: 590px;
}

.notification_content{
  width: 65px;
  display: none;
}

.welcome_name{
color: #8DC63F;
font-size: 18px;
margin: 0px;
padding: 0px;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
}

.company_view{
  color: #20569D;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  }

  .txt_date{
    color: #20569D;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    }
.help{
  color: #8DC63F;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.help img{
  margin-right: 5px;
}

.table_container{
  
  height: 50vh;
 
 
}

.footer_container{
  position: absolute;
  bottom: 45px;
  width: 563px;
  height: 63px;
}
.footer_container .row{
  width: 100%;
}

.notification_ball{
  color: white;
  background-color:#FF2E2E ;
  text-align: center;
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 50%;
  align-content: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-left: 15px;
  margin-top: 0px;
  position: absolute;
}
.notification_bell{
  margin-top: 15px
}

.header_page{
   /* margin-top: 20px;  */
  padding-top: 28px;
}

.search_bar{
  margin-top: 28px;
  height: 6vh;
  margin-bottom: 27px;
  
}
.divNoMargin{
  margin: 0px !important;
  padding: 0px !important;
}
.icon_search{
  height: 20px;
  width: 20px;
}
.input_form{
 
border-radius: 6px 0px 0px 6px !important;
font-family: 'Montserrat', sans-serif;
font-weight: 500 !important;
color: rgba(79,79,79,0.8) !important;
/* border-color: #C4C4C4 !important; */
border-bottom: 1px solid #C4C4C4;
border-left: 1px solid #C4C4C4;
border-top: 1px solid #C4C4C4;
border-right: 1px solid white;
font-size: 12px !important;
padding: 0.5rem .5rem !important;
height: 24px;

}

.input-group-text {
    border-radius: 0px 6px 6px 0px !important;
}

.input_form:focus{
  border-bottom: 1px solid #C4C4C4;
border-left: 1px solid #C4C4C4;
border-top: 1px solid #C4C4C4;
border-right: 1px solid white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0) !important;
}


.input_suffix{
background-color: white;
border-bottom: 1px solid #C4C4C4;
border-left: 1px solid white;
border-top: 1px solid #C4C4C4;
border-right: 1px solid #C4C4C4;
border-radius: 20px;

}

.icon_search{
  margin: 0;
  padding: 0;
  height: 14px;
  width: 12px;
}
.contain_icon_help{
  height: 15px;
  width: 15px;
  margin-top: -2px;
}
.icon_help{
  padding: 0;
  height: 15px;
  width: 15px;
}
.contain_icon_help:hover .contain_important{
  display: inherit;
}

.back{
  text-align: left;
  padding-left: 15px !important;
  width: 75px;
}
.back img{
  width: 28px;
}
.width_back{
  width: 75px;
}

.go_to_section{
  text-align: end;
  padding-right: 0px;
  margin-left: 26px;
}

.go_to_section_credit{
  margin-right: 4.5vw !important;
  color: #20569D;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  vertical-align: middle;
  margin-top: 8px;
  }

  .img_assistant{
    text-align: right;
    padding-right: 0;
  }
  .img_assistant img{
    margin-top: 5px;
  }

  .footerText{
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding-right: 70px;
    font-weight: 500;
    color: #4F4F4F;
  }

  .paragraph-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .footerTextBold{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .add_section{
    position: absolute;
    
  }

  .bg_home{

    width: 100vw;
    height: 100vh;
    background-image: url('../assets/ImgBg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }


  .table_empty{
    text-align: center;
    padding-top: 16vh;
  }

  .title_table_empty{
    font-size: 30px;
    color: #BFBFBF;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
  }
  .sub_title_table_empty{
    font-size: 24px;
    color: #BFBFBF;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
  }

  .noOffset{
    margin:0;
    padding:0;
    height: 100%;
    align-items: center;
    display:flex;
  }

  .noOffsetDot{
    margin:0;
    padding:0;
    height: 100%;
    align-items: center;
    display:flex;
    justify-content: center;
  }

  .transparentButton{
    border: 0px transparent;
    background-color: transparent;
    cursor:pointer;
    z-index:0;
  }

 .absoluteCenter {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
 }

 .invoiceLink{
  white-space: normal;
    justify-content: end;
    padding-right: 10px;
    padding-left: 10px;
 }
 .jqx-grid-cell-left-align {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
  }
  .jqx-grid-cell-right-align {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
    }

 .iconClass {

  height: 100%;
  width: 100%;
 }


 .iconClass {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
  height: 100%;
 }
 .iconsStaturBar{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

 }
 .jqx-grid-column-filterbutton{
  border: none;
  background-image: url(../assets/icons/funnel.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1px;
 }
 .jqx-menu-vertical {
  background-color: #ffffff;
}

 .iconClass2 {
  position: absolute;
  left: 44px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 15px;
  height: 100%;
 }

 .iconClass3 {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 15px;
  height: 100%;
 }

 .iconClass4 {
  position: absolute;
  left: -44px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 15px;
  height: 100%;
 }

 a {
  color: #305E99;
  font-weight: 500;
}

/* .jqx-fill-state-normal {
  display: inline-block !important;
  align-items: center !important;
  box-sizing: content-box;
  -ms-touch-action: none;
  font-family: Verdana, Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  border-color: #aaa;
  background: #efefef;
  width: 10px !important;
  height: 10px !important;
  } */

  .jqx-checkbox{
    margin: 0px !important;
    left: 6px !important;
    top: 10px  !important;
  }

  .jqx-checkbox-check-checked {
    float: left;
    background: #1C4E8F;
    padding: 0px;
    border: 1px solid #fff;
    outline: none;
    margin: 0 0 0 0;
    width: 10px !important;
    height: 10px !important;
    border-radius: 2px;
}

.table_empty_footer{
  position: absolute;
  bottom: 20px;
  right: 155px;
}
.table_empty_footer img{
  padding-left: 25px;
}
/*tooltip*/
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 120px; */
  background-color: #FAFAFA;
  color: #A6A6A6;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  border: 0.25px solid #C4C4C4;
  position: absolute;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 11px;
  width: 90px;
  top: 15px;
  left: 10px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 0 !important;
}
/*tooltip*/

/* .state{
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background: red;
  border-radius: 50px;
  margin-top: 3px;
  margin-left: 5px;
}
.stateText{
  margin-left: 30px;
} */
.textUpload{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: #C4C4C4;
  margin-top: 25px;
}
.textUploaded{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  color: #C4C4C4;
  margin-top: 15px;
}

.uploadGreen{
  color: #8DC63F;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
}

.uploadBold
{
  color: #4F4F4F;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 10px;
}