.aling_right{
    text-align: right;
}
.footer_invoice_container .footerTextBold{
    font-size: 9px;
    line-height: 15px;
}

.footerTextBlue{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 15px;
    color: #1F508D;
}

.footer_invoice_container .footerText{
    margin-bottom: 0;
    padding-right: 60px;
    position: absolute;
    bottom: 38px;
    width: 30%;
}

.footer_invoice_container .img_assistant img{
    position: absolute;
    bottom: 38px;
    margin: 0;
    left: 190px;
}

.footerValues{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    width: 392px;
    position: absolute;
    right: 170px;
    bottom: 0px !important;
    background: #305E99;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
    color: #fff;
    padding: 20px 30px;
    border-radius: 20px 20px 0 0;
    z-index: 10;
}

.footerTotal{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.footerCircle{
    position: absolute;
    right: 545px;
    bottom: 40px;
    transform: rotate(-90deg);
    height: 40px;
    width: 40px;
    background: #305E99;
    border-radius: 50px;
    z-index: 10;
}

.arrow_right{
    transform: rotate(90deg);
    position: absolute;
    top: 10px;
    left: 15px;
}
.arrow_left{
    transform: rotate(-90deg);
    position: absolute;
    top: 10px;
    left: 15px;
}

.footer_taxes_iva,
.footer_taxes_retencion{
    width: 318px;
}

.footer_taxes_retencion{
    border-left: 1px solid #787878;
}

.footer_taxes{
    background: #EAEAEA;
    padding: 20px 20px 30px 20px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0px;
    left: 175px;
    width: 725px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #787878;
    z-index: 5;
}

/* .footer_values::after{
    transition: all 500ms ease-in-out;
} */

@keyframes modalFade {
    from {transform: translateY(-50%);opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
}
.footer_values {
    animation-name: modalFade;
    animation-duration: .3s;
}

.footerCircle .tooltiptext{
    width: 115px;
    top: -55px;
    left: -20px;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
}
.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
}