.contain_important{
    display: none;
    font-family: Montserrat;
    font-style: normal;
    position: relative;
    z-index: 10;
    left: 64px;
    top: -95px;
    width: 300px;
    background: #F9FBFD;
    font-size: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 0px rgba(161,161,161,0.75);
}
.section_important{
    position: relative;
    z-index: 5;
    background: #F9FBFD;
    border-radius: 10px;
}
.arrow_important{
    position: absolute;
    left: -34px;
    top: 65px;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-right: 35px solid #f9fbfd;
    filter: drop-shadow(-2px 1px 3px rgba(161,161,161,0.75));
    z-index: 1;
}
.important_header{
    display: flex;
    height: 55px;
    background: #EAF5F9;
    border-radius: 10px 10px 0px 0px;
    
}
.important_header img{
    width: 40px;
    margin-left: 30px;
}
.important_titl{
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #1C4E8F;
    padding: 0 30px;
    padding-top: 17px;
}
.subtitle{
    padding: 0 30px;
    padding-top: 20px;
    
}
.text{
    padding: 0 30px;
    padding-bottom: 30px;
}