.contain_info{
    background: #fff;
    width: 311px;
    height: 199px;
    position: absolute;
    right: 205px;
    top: 35px;
    z-index: 19;

    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    padding: 26px 37px 19px 22px;
}

.row_info{
    display: flex;
    justify-content: space-between;
}

.row_info.state_info{
    justify-content: inherit;
}

.title_info{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #1C4E8F;
}

.contain_text_info .title_info{
    padding-top: 15px;
}

.contain_text_margin{
    margin-left: 15px;
}

.text_info{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: rgba(79, 79, 79, 0.88);
}

.text_info a{
    text-decoration: underline !important;
    color: #8DC63F !important;
    padding-left: 7px;
}

.text_info.text_eclipse{
    margin-left: 30px;
}

.text_eclipse .eclipse{
    top: 28px;
    left: 80px;
    width: 8px;
    height: 8px;
}