.alerta_container{
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.alerta_popup{
    position: relative;
    top: -5vh;
    left: 0vh;
    width: 504px;
    height: 280px;
    background: #fff;
    padding: 34px 47px;
    border-radius: 5px;
}

.alerta_popup img {
    width: 92px;
    height: 92px;
    margin: 0 auto;
}
.alerta_textBold{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4F4F4F;
    margin-bottom: 9px;
}
.alerta_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #4F4F4F;
}
.alerta_buttons{
    margin-top: 18px;
}

.alerta_button{
    border: 1px solid #8DC63F;
    border-radius: 4px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.button_cancel{
    position: absolute;
    width: 163px;
    height: 37px;
    left: 82px;
    top: 218px;
    background: #FFFFFF;
    color: #8DC63F;
}

.button_yes{
    
    position: absolute;
    width: 163px;
    height: 37px;
    
    right: 612px;
    background: #8DC63F;
    color: #fff;

}

.alerta_buttons .button_yes{
    left: 259px;
    top: 218px;
    right: 0;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}