
.newHeaderField .bgBalls{
    background: #fff;
}

.newHeaderField.popBody{
    margin-left: 0;
    margin-right: 0;
}

.popup_newHeaderField-content{
    width: 90%;
    margin-left: 8% !important;
}

.newHeaderField_infoSection{
    background: #F5F5F5;
    margin: 0 10px !important;
    border-radius: 6px;
    width: 47.3% !important;
    height: 90px;
}

.newHeaderField .row_infoSection{
    padding-left: 1.5% !important;
}

.newHeaderField_infoSection .titleNewClient{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 12px;
    color: #DCDCDC;
    margin-top: 12px;
}

.newHeaderField_infoSection p{
    text-align: center;
}

.newHeaderField .txtOption{
    margin-top: 29px;
    margin-bottom: 7px;
    margin-left: 0;
    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.newHeaderField_title{
    width: 44.5% !important;
}

.newHeaderField .marginIcon{
    margin-right: 10px;
}

.newHeaderField .uploadFile div{
    display: flex;
    align-items: center;
}

.newHeaderField .drag{
    border-radius: 6px;
}

.newHeaderField .uploadFile img{
    margin-left: 5vw;
}

.newHeaderField .marginLeftSectionRuth{
    width: 119%;
    height: 89px;
    margin: 0px;
}

.newHeaderField .textUpload{
    height: max-content;
    margin: 0;

    margin-right: 5vw;
    margin-left: 1vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #7B7B7B;
}

.newHeaderField .row_comments{
    margin-left: 16px !important;
    /* margin-bottom: 45px !important; */
}

.newHeaderField .addFile .marginLeftSectionRuth{
    width: 121%;
    height: 170px;
}

.input_comments .inputHeigth textarea{
    border: 1px solid #C4C4C4;
    border-radius: 6px !important;
    height: 170px;
    resize: none;
}

.row_comments .uploadFile img{
    margin-left: 2vw;
}

.row_comments .textUpload{
    margin-right: 3vw;
}

.newHeaderField .circleCheckBox{
    text-align: left;
    margin-top: 0;
    display: flex;
}

.newHeaderField .circleCheckBox input{
    margin-right: 5px;
}
.newHeaderField .txtCheckBox.firstCheckBox{
    margin-top: 0;
    margin-left: 30px;
}
.type_invoice_text{
    width: 12%;
}

.newHeaderField .firstCheckBox{
    margin-bottom: 15px !important;
    margin-right: 15px;
}

.container_newheaderfield{
    margin-left: 5% !important;
}

.newHeaderField .titleNewClient{
    margin-left: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.newHeaderField .txtTercerosInput{
    margin-left: 10px;
}

.container_newheaderfield .col-lg-2{
    width: 18.5%;
}

.container_newheaderfield .row_headerfield{
    margin-left: 20px !important;
}

.newHeaderField .uploadFile .uploadBold{
    color: #8DC63F;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.newHeaderField .uploadFile .textUploaded{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #7B7B7B;
    margin-left: 40px;
}

.newHeaderField .uploadFile img{
    width: 68px;
}

.check_section{
    display:flex;
}

.row_headerfield .jqx-combobox-state-normal.jqx-combobox, .row_headerfield .jqx-widget.jqx-datetimeinput,
.row_infoSection .jqx-combobox-state-normal.jqx-combobox, .row_infoSection .jqx-widget.jqx-datetimeinput {
    width: 100% !important;
    border: 1px solid #c4c4c4;
    border-radius: 6px !important;
}