.search_group{
    display: flex;
}
.first_title{
    margin-top: 5px !important;
    font-weight: 500 !important;
}

.auth_save{
    display: flex;
    margin-top: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: rgba(79, 79, 79, 0.88);
    
}
.row_search{
    padding-left: 35px;
}

.jqx-scrollview-page {
    width: 1201px !important;
    padding: 0px 1px;
}
/* .grid-alignment-qenta{
    width: 94.6%;
    padding-left: 0px;
} */

/* .jqx-clear.jqx-border-reset.jqx-overflow-hidden.jqx-max-size.jqx-position-relative{
    overflow-x: hidden !important;
} */

.notification_invoice{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 0px;
    color: #656565;
    margin: 0;
    margin-top: 7px;
    margin-right: 10px;
    text-align: right;

    position: absolute;
    right: 80px;
    top: 27px;
}

.eclipse{
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    /* right: 185px;
    top: 32px; */
    background: #8DC63F;
    border-radius: 50px;
    right: 95px;
    top: -2px;
}

.notification_invoice_text{
    text-align: left;
    /* margin: 15px; */
    width: 124px;
    margin-left: 95px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    color: #656565;

    position: absolute;
    margin: 0;
    right: 53px;
    top: 50px;
}

.notification_circle_arrow{
    position: absolute;
    top: 29px;
    right: 200px;
    /* position: relative;
    top: 18px;
    right: -65px; */
}

.notification_circle_arrow_down{
    position: absolute;
    top: 29px;
    right: 200px;
    transform: rotate(180deg);
    z-index: 20;
}

.grid_newInvoiceGrid{
    /* overflow: hidden; */
    /* width: 95%; */
    width: 1200px;
}

.invoice_information{
    margin-left: 80px;
}

.column_links{
    width: 495px;
    padding: 0;
}
.column_auth_save{
    padding: 0;
}

.add_button{
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    margin-top: 52px;
}

.add_button img{
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.add_button .tooltip{
    z-index: 10;
}


/* DROPDOWN */
.jqx-listitem-element:nth-child(2n+1){
    background-color: #fff;
    /* background-color: #F9F9F9; */
}

.jqx-listitem-element:nth-child(2n){
    background-color: #F9F9F9;
    /* background-color: #fff; */
}

.jqx-listbox.jqx-reset.jqx-rc-all.jqx-widget.jqx-widget-content.jqx-disableselect.jqx-default-item.jqx-popup.jqx-rc-t-expanded.jqx-fill-state-focus.jqx-popup-show{
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

/* FIN DROPDOWN */

.txtInputNewInvoice{
    margin-left: 10px;
}

.add_button .tooltip{
    height: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.nav_link{
    text-decoration: none;
}

.first_title .nav_link{
    color: #8DC63F !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
}

.first_title .nav_link:hover{
    color: #6DA423 !important;

}
.pointer {cursor: pointer;}