.newProduct.alerta_container{
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.newProduct.alerta_popup{
    position: relative;
    top: -5vh;
    left: 0vh;
    width: 742px;
    height: 468px;
    background: #fff;
    padding: 0px 0px;
    border-radius: 5px;
}

.newProduct.alerta_popup img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.newProduct .alerta_textBold{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4F4F4F;
    margin-bottom: 9px;
}
.newProduct .alerta_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #4F4F4F;
}
.newProduct .alerta_buttons{
    margin-top: 18px;
}

.newProduct .alerta_button{
    border: 1px solid #8DC63F;
    border-radius: 4px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.newProduct .button_cancel{
    position: absolute;
    width: 163px;
    height: 37px;
    left: 82px;
    top: 218px;
    background: #FFFFFF;
    color: #8DC63F;
}

.newProduct .button_yes{
    position: absolute;
    width: 163px;
    height: 37px;
    left: 259px;
    top: 218px;
    background: #8DC63F;
    color: #fff;
}

.newProduct .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.newProduct .marginArrow{
    margin-right: 10px !important;
}
.newProduct .helpIcon{
    width: 10px!important;
    height: 10px!important;
}

.newProduct .titleNewClient {
    text-align: left;
    color: #20569D;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px !important;
    margin-right: 0px !important;
    margin-top: 40px !important;
    font-weight: 500;
    margin-bottom: 30px;
}

.newProduct .widthTxt{
    width: 88%;
}

.newProduct .widthTxt .txtTerceros{
    margin-left: 35px;
}

.newProduct .radioBtn{
    margin-left: 35px;
    margin-bottom: 35px;
}


fieldset {
    overflow: hidden
}

.some-class {
    float: left;
    clear: none;
}

label {
    float: left;
    clear: none;
    display: block;
    padding: 2px 1em 0 0;
}

input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin: 2px 4px 6px 4px;
}

input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid rgba(0, 0, 0, 0);
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid rgba(0, 0, 0, 0);
}

.newProduct .labelRadio{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #1C4E8F;
    font-weight: 500;
}

.newProduct .search_bar{
    margin-top: 28px;
    height: 6vh;
    margin-bottom: 27px;
    
}
.newProduct .search_invoice.search_bar{
    margin-bottom: 45px;
    margin-top: 25px;
}

.newProduct .marginInputCreateProductL{
    margin-left: 35px;
}

.newProduct .marginInputCreateProductR{
    margin-right: 35px;
}

.newProduct .marginRow{
    margin-bottom: 20px;
}

.newProduct .button_yes {
    position: initial !important;
    width: 163px;
    height: 37px;
    left: 259px;
    top: 218px;
    background: #8DC63F;
    color: #fff;
}

.newProduct .divCreate{
    text-align: right;
    margin-right: 35px;
}

.newProduct .row_button_yes{
    position: relative;
    bottom: 15px;
}