.jqx-notification {
    padding: 10px;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    pointer-events: auto;
    margin-bottom: 20px !important;
    background-color: #8DC63F !important;
    color: white !important;
    text-shadow: none !important;
}

.jqx-notification-container{
    z-index: 10;
}

.jqx-rc-all.jqx-notification.jqx-widget.jqx-popup.jqx-notification-info,
.jqx-rc-all.jqx-notification.jqx-widget.jqx-popup.jqx-notification-null{
    width: 244px !important;
    height: 109px !important;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;

    display: flex;
    justify-content: center;

    border-radius: 10px;
}

.okBckNot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.okBckNot p{
    margin: 0;
    margin-left: 10px;
}

.jqx-notification-icon.jqx-notification-icon-info.jqx-notification-icon-ltr{
    display: none;
}

.close_button{
    position: relative;
    top: -40px;
    right: 9px;
}

.jqx-notification-close-button-ltr{
    right: -2px;
    top: -5px;
}

.jqx-notification-close-button-container{
    position: absolute;
    right: 20px;
}