/* .divNoMargin.bgBalls.popup-content {

    margin: auto;
    background: linear-gradient(90deg, rgba(255,255,255,1) 66%, rgba(248,248,248,1) 66%, rgba(248,248,248,1) 100%);
    background: rgb(255, 255, 255); 
    background-image: url('./../assets/bgPopUp.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    width: 90%;
    padding: 0px;
    margin-left:106px !important;
    height: 94vh;
    border-radius: 10px;

  } */

  .fullHeightCol {

    height:100%;
    overflow:scroll;

  }

  .popBody {

    /* height: 94vh; */
    height: 740px;
    /* overflow-y: scroll; */
    margin-left: 106px;
    margin-right: 17px;
  }
  .bgBalls{
    background-image: url('./../assets/bgPopUp.png');
    background-size: contain;
    height: 100%;
    border-radius: 10px;
  }
  .radiusRow{
    border-radius: 0px 10px 10px 0px;
  }

  .rowRight{
    background-color: #F8F8F8;
  }

  .popup-arrow {
    color: rgb(255, 255, 255);
  }

  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

  .titleNewClient{
        /* margin-top: ; */
        text-align: left;
        color: #20569D;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 30px !important;
        margin-right: 0px !important;
        margin-top: 35px;
        font-weight: 500;
        margin-bottom: 15px;


  }
  .marginArrow{
    margin-right: 10px;
  }
  .bgPopUp{
    width: 100vw;
    height: 100vh;
  }

  .txtTerceros{
    margin-left: 30px;
    margin-bottom: 20px;
    /* margin-right: 110px; */
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 15px;
    color: #4F4F4F;
  }

  .inputNC{
    margin: 0px!important;
    padding: 0px !important;
  }

  .txtImportant{
    margin-left: 30px;
    margin-bottom: 15px;
    /* margin-right: 110px; */
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1C4E8F;
  }

  .txtOption{
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1C4E8F;
  }


  .marginIcon{
    margin-left: 55px;
  }

  .marginInputNC{
    margin-left: 30px;
    margin-bottom: 10px;
    /* margin-right: 110px; */
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #4F4F4F;
  }

  .txtCheckBox{
    margin-bottom: 0px !important;
    margin-top: 14px;
    color: #1C4E8F;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  .circleCheckBox{
    text-align: right;
    margin-bottom: 0px !important;
    margin-top: 14px;
    color: #1C4E8F;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }

  .firstCheckBox{
    margin-top: 25px;
  }

  .txtTercerosInput
{
  margin-left: 30px;
  margin-bottom: 15px;
  /* margin-right: 110px; */
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #4F4F4F;
}

.titleRutSemiBold{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #1C4E8F;
  font-weight: 600;
  line-height: 20px;
}
.titleRutSemiMedium{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #1C4E8F;
  font-weight: 500;
  line-height: 20px;
}
.underline{
  text-decoration: underline;
}
.sectionRut{
  margin-top: 58px;
  margin-left: 25px;
}

.drag{
  border: dashed 1px #C4C4C4 !important;
  border-radius: 30px;
  width: 337px;
  height: 222px;
}

.titleRutSemiMedium.marginLeftSectionRuth{
  margin-top: 65px;
}

.marginLeftSectionRuth{
  margin-top: 20px;
  margin-left: 25px;
}

.inputUrl{
  /* border-radius: 10px; */
  margin-right: 28px;
  margin-left: 24px;
  border-radius: 10px;
  border:rgba(0, 0, 0, 0.16);
  border: 1px solid #C4C4C4;
}

.marginRightSectionRuth{
  margin-top: 23px;
  /* margin-right:   4px; */
}

.titleImportant
{
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #1C4E8F;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0px;
}

.disclaimerText
{
  margin-left: 24px;
  margin-right: 72px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #4F4F4F;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0px;
}

input[type='radio'] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #C4C4C4;
  border-radius: 50px;
}

input[type='radio']:checked{
  background-color: #8DC63F;
  border: 1px solid #8DC63F;
  background-image: url(./../assets/icons/CheckWhite.svg);
  background-repeat: no-repeat;
  background-position: 3px 4px;
}

.btnCrearProducto{
  text-align: right;
}
.createClient{
  margin-top: 20px;
}