@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }

body {

    font-family: 'Montserrat';
}  

.jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-group-cell {
    border-color: #C4C4C4;
}

.jqx-widget .jqx-grid-cell:last-child, 
.jqx-widget .jqx-grid-column-header:last-child, 
.jqx-widget .jqx-grid-group-cell:last-child {
    border: none;
}

.jqx-widget-content {
    /* border-radius: 11px; */
    font-family: 'Montserrat';
}

.jqx-widget-header {

    background: #305E99;
    color: white;
    height: 35px !important;
}

.jqx-grid-column-header {
    background: #305E99;
    color: white;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Montserrat';
}


.jqx-grid-cell {
    color: #636363;
    font-weight: 400;
    font-size: 12px;
}

.column-text-header-qenta {
    white-space: normal;
    line-height: 11px;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.grid-alignment-qenta {
    text-align: center;
    width: 100%;
    padding-left:2.5%;
}


.jqx-grid-column-menubutton {
    background-image: url(../assets/icons/icon-sort.png) !important;
  }

.jqx-widget .jqx-grid-column-menubutton, .jqx-widget .jqx-grid-column-sortascbutton, .jqx-widget .jqx-grid-column-sortdescbutton, .jqx-widget .jqx-grid-column-filterbutton {
    border-color: transparent !important;
}

.jqx-background-reset{
    z-index: 1;
}

/* Scroll */

.jqx-scrollbar-state-normal{
    width: 3px !important;
    left: 5px !important;
    background: #EDEDED;
}
.jqx-scrollbar-state-normal .jqx-scrollbar-thumb-state-normal{
    width: 2px !important;
    height: 259px !important;
    background: #979797 !important;
    left: -.5px !important;
}
.jqx-scrollbar-button-state-normal{
    display: none;
}
.jqx-reset{
    width: 5px;
}
.jqx-scrollview {
    /* height: 374px !important; */
    /* background-color: rgba(255, 255, 255, 0); */
    -ms-touch-action: auto !important;
    background-color: rgba(255, 255, 255, 0);

    /* align-content: center; */
}
.grid-alignment-qenta .jqx-scrollview{
    height: 400px !important;

}

/* .jqx-fill-state-normal  */
.jqx-checkbox-default.jqx-fill-state-normal.jqx-rc-all{
    display: inline-block !important;
    align-items: center !important;
    box-sizing: content-box;
    -ms-touch-action: none;
    font-family: Verdana, Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
    width: 10px !important;
    height: 10px !important;
    background: #fff !important;
}

.jqx-scrollview-button.jqx-fill-state-normal.jqx-scrollview-button-selected.jqx-fill-state-pressed
{
    box-sizing: content-box;
    /* border-color: #999; */
    border: none;
    background: #8DC63F !important;
}
/* .jqx-grid-column-header  .jqx-checkbox-default.jqx-fill-state-normal.jqx-rc-all{
    margin-top: 9px;
} */
.jqx-scrollview-button.jqx-fill-state-normal{
    background: #C4C4C4 !important;
}
.jqx-fill-state-pressed{
    background: #EEEEEE;
}
.form-control::placeholder{
    color: #C4C4C4 !important;
}

.jqx-grid-cell.jqx-item{
    overflow: inherit !important;
}
/* .jqx-fill-state-normal {
    box-sizing: content-box;
    -ms-touch-action: none;
    font-family: Verdana, Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
    border-color: #aaa;
    background: #C4C4C4 !important;
} */

/* SCROLL OUT */

/* .jqx-clear.jqx-max-size.jqx-position-relative.jqx-overflow-hidden.jqx-background-reset,
.jqx-clear.jqx-border-reset.jqx-overflow-hidden.jqx-max-size.jqx-position-relative,
.jqx-grid.jqx-reset.jqx-rc-all.jqx-widget.jqx-widget-content.jqx-disableselect
{
    overflow: inherit !important;
} */

.jqx-grid-cell.jqx-item{
    border-top: none;
    border-bottom: none;
}

.jqx-clear.jqx-position-absolute.jqx-scrollbar.jqx-widget.jqx-widget-content.jqx-rc-all{
    position: absolute !important;
    left: 1190px !important;
    background: transparent;
}

.jqx-grid.jqx-reset.jqx-rc-all.jqx-widget.jqx-widget-content.jqx-disableselect{
    width: 98.5%;
    height: 371px;
    background: transparent;
    border: 0px solid transparent;
}

.jqx-clear.jqx-overflow-hidden.jqx-position-absolute.jqx-border-reset.jqx-background-reset.jqx-reset.jqx-disableselect{
    border-radius: 10px;
    border: 1px solid #c4c4c4 !important;
}
.invoiceGrid .jqx-clear.jqx-overflow-hidden.jqx-position-absolute.jqx-border-reset.jqx-background-reset.jqx-reset.jqx-disableselect{
    height: 357px !important;
}

/* FIN SCROLL OUT */

/* .jqx-widget-header.jqx-grid-header{
    border-left: 1px solid #305E99;
    border-right: 1px solid #305E99;
} */

.jqx-scrollview-page{
    width: 1201px !important;
    padding: 0px 1px;
}

.helpIcon{
    background-color: white;
    color: white;
}

.filter.filter1.jqx-listbox.jqx-reset.jqx-rc-all.jqx-widget.jqx-widget-content.jqx-disableselect{
    height: 135px !important;
}
.jqx-grid-menu.jqx-widget.jqx-menu.jqx-menu-vertical.jqx-widget-content.jqx-popup.jqx-rc-all.jqx-popup-show{
    border-radius: 20px !important;
}

.primary.filterbutton.jqx-rc-all.jqx-button.jqx-widget.jqx-fill-state-normal,
.filterclearbutton.secondary.jqx-rc-all.jqx-button.jqx-widget.jqx-fill-state-normal{
    width: 35px !important;
    height: 15px !important;
}
.jqx-item.jqx-menu-item-top.jqx-rc-all.jqx-menu-item-disabled.jqx-fill-state-disabled,
.jqx-item.jqx-menu-item-top.jqx-rc-all{
    padding: 10px 8px 4px 20px;
    border-top: 1px solid #c4c4c4;
    height: 25px;
    margin-top: -4px;
}

.jqx-grid-menu.jqx-widget.jqx-menu.jqx-menu-vertical.jqx-widget-content.jqx-popup.jqx-rc-all.jqx-popup-show,
.jqx-menu-ul{
    height: auto !important;
}

.newInvoiceGrid .jqx-combobox-state-normal.jqx-combobox{
    height: 50px !important;
}

/* .newInvoiceGrid .jqx-grid.jqx-reset.jqx-rc-all.jqx-widget.jqx-widget-content{
    border-radius: 11px;
} */

.newInvoiceGrid .jqx-clear.jqx-overflow-hidden.jqx-position-absolute.jqx-border-reset.jqx-background-reset.jqx-reset.jqx-disableselect{
    border: none !important;
    border-radius: 9px;
}

.newInvoiceGrid .jqx-grid.jqx-reset.jqx-rc-all.jqx-widget.jqx-widget-content.jqx-disableselect{
    width: 100% !important;
}

/* .newInvoiceGrid .jqx-clear.jqx-max-size.jqx-position-relative.jqx-overflow-hidden.jqx-background-reset{
    border: 1px solid #c4c4c4 !important;
    border-radius: 10px; 
    max-height: 357px !important;
    overflow-y: scroll !important;
} */

.newInvoiceGrid .jqx-fill-state-pressed{
    border-left: none;
}

.grid-alignment-qenta .newInvoiceGrid {
    border: 1px solid #c4c4c4 !important;
    border-radius: 10px;
    overflow: hidden !important;
    max-height: 357px !important;
    overflow-y: scroll !important;
}

.jqx-combobox-input-combo.combo_center{
    text-align: center;
}

.jqx-listbox
{
    position: relative !important;
    margin: auto 10px;
    /* width: 91% !important; */
}


