.search_invoice.search_bar{
    margin-bottom: 45px;
    margin-top: 25px;
}

.title_search img{
    margin-left: 5px;
}

.title_search{
    display: flex;
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #1C4E8F;
    margin-bottom: 5px;
    margin-left: 5px;
}
.title_search .contain_icon_help{
    margin-top: 0;
}

.title_search .subtitle,
.title_search .text{
    color: #4F4F4F;
    padding: 0px 25px;
}

.title_search .subtitle
{
    padding-top: 20px;
}

.title_search .text{
    padding-bottom: 30px;
}

/* COMBO BOX */
.row_search .jqx-combobox-state-normal.jqx-combobox,
.row_search .jqx-widget.jqx-datetimeinput{
    width: 100% !important;
    border: 1px solid #c4c4c4;
    border-radius: 6px !important;
}
.jqx-fill-state-normal{
    background-color: transparent;
}

.jqx-listbox.jqx-reset.jqx-rc-all.jqx-widget.jqx-widget-content.jqx-disableselect.jqx-popup.jqx-rc-t-expanded.jqx-fill-state-focus.jqx-popup-show,
.jqx-calendar.jqx-widget.jqx-widget-content.jqx-rc-all.jqx-popup.jqx-fill-state-focus.jqx-popup-show{
    border-radius: 6px;
    border: 1px solid #c4c4c4;
    /* margin: 0px 5px; */
}
.jqx-fill-state-pressed{
    background: #EAF5F9;
    border: 1px solid #EAF5F9;
}

.jqx-combobox-content.jqx-widget-content,
.jqx-position-absolute.jqx-action-button.jqx-fill-state-normal.jqx-rc-r.jqx-default{
    border: none;
}

.jqx-icon-calendar, .jqx-icon-calendar-hover, .jqx-icon-calendar-pressed{
    background-image: url(./../assets/icons/Calendar.svg);
    background-size: 80%;
    background-position: 1px 1px;
}
.jqx-icon-arrow-down, .jqx-icon-arrow-down-hover, .jqx-icon-arrow-down-selected{
    background-image: url(./../assets/icons/ArrowDown.svg);
    background-size: 80%;
    background-position: -1px 5px;
}
/* FIN COMBO BOX */

.newInvoiceGrid .jqx-listbox-container{
    width: 320px !important;
}



.jqx-listitem-element:first-child{
    background-color: #EAF5F9 !important;
}

.jqx-listitem-element.jqx-listitem-element-combo.combo_center:first-child{
    background-color: #fff !important;
}

.jqx-listitem-element span:not(.jqx-listitem-element:first-child span){
    padding-left: 40px;
}

.jqx-listitem-element-combo span:not(.jqx-listitem-element-combo:first-child span){
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.add_button_combo{
    display: flex;
    align-items: center;
}
.add_button_combo div{
    width: 15px;
    height: 18px;
    text-align: center;
    margin-right: 15px;
    margin-left: 10px;
}
.add_button_combo div img{
    width: 100%;
}
