/* SWITCH BUTTON */
.jqx-switchbutton.jqx-widget.jqx-widget-content.jqx-switchbutton-on{
    border-radius: 15px;
    background: #8DC63F;
    border: none;
}

.jqx-switchbutton.jqx-widget.jqx-widget-content{
    border-radius: 15px;
    background: #E4E4E4;
    border: none;
}

.jqx-switchbutton.jqx-widget.jqx-widget-content.jqx-switchbutton-on .jqx-fill-state-normal.jqx-switchbutton-thumb.jqx-disableselect{
    left: -3px;

}
.jqx-switchbutton.jqx-widget.jqx-widget-content .jqx-fill-state-normal.jqx-switchbutton-thumb.jqx-disableselect{
    left: 1px;
}

.jqx-switchbutton.jqx-widget.jqx-widget-content.jqx-switchbutton-on,
.jqx-switchbutton.jqx-widget.jqx-widget-content{
    width: 33px !important;
    height: 18px !important;
}

.jqx-fill-state-normal.jqx-switchbutton-thumb.jqx-disableselect{
    position: relative;
    width: 16px !important;
    height: 16px !important;
    top: 2px;
    border-radius: 50px;
    border: none;
    background: #fff;
}
.switch-button{
    margin-top: -2px;
    margin-left: 10px;
}

.jqx-switchbutton-label-on {
    visibility: hidden !important;
}

.switch-button img{
    position: absolute;
    top: -27px;
    right: -60px;
}

.switch-button .tooltip .tooltiptext{
    width: 130px;
    top: -15px;
    left: 53px;
}

.switch-button .tooltip{
    position: absolute;
    top: 63px;
}

.jqx-switchbutton-label-off.jqx-switchbutton-label.jqx-disableselect{
    visibility: collapse !important;
}

.switch-button .tooltip{
    z-index: 10;
}