.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.jqx-checkbox-check-indeterminate {
  float: left !important;
    background: #1C4E8F !important;
    padding: 0px !important;
    border: 1px solid #fff !important;
    outline: none !important;
    margin: 0 0 0 0 !important;
    width: 10px !important;
    height: 10px  !important;
    border-radius: 2px !important;
}


/* .jqx-scrollbar-thumb-state-normal {
  background-color: #979797 !important;

} */
/* .jqx-fill-state-normal {
  background-color: blue !important;
} */
/* .jqx-rc-all{
  background-color: #979797 !important;
} */

/* .jqx-scrollbar-button-state-normal {
  background-color: transparent;
  width: 0px !important;
  height: 0px !important;
  
}
.jqx-rc-t{
  background-color: transparent;
  width: 0px !important;
  height: 0px !important;
}
.jqx-reset {
  background-color: gold;
}

.jqx-icon-arrow-up {
background-color: coral;
}

.jqx-scrollbar .jqx-icon-arrow-up {
  width: 0px !important;
  height: 0px !important;
  }

  .jqx-scrollbar-thumb-state-normal jqx-fill-state-normal jqx-rc-all{
    top: 0px !important;
    width: 5px !important;
  }
  .jqx-scrollbar .jqx-icon-arrow-down {
    width: 0px !important;
    height: 0px !important;
    }
.jqx-scrollbar-button-state-normal jqx-rc-b{
    width: 0px !important;
    height: 0px !important;
}



.jqx-scrollbar-thumb-state-normal jqx-fill-state-normal jqx-rc-all jqx-scrollbar-thumb-state-hover jqx-fill-state-hover{
  box-sizing: content-box;
  left: 0px;
  top: 0px !important;
  position: absolute;
  width: 5px!important;
  height: 250px;
}
.jqx-scrollbar-thumb-state-normal jqx-fill-state-normal jqx-rc-all{
  box-sizing: content-box;
  left: 0px;
  top: 0px  !important;
  position: absolute;
  width: 5px !important;
  height: 250px;
}

.jqx-scrollbar-thumb-state-hover{
  width: 5px !important;
}
.jqx-scrollbar-thumb{
  width: 5px !important;
} */

/* 

.barra
{
  background-color: #1F508D;
  height: 100vh;
  width: 7vw;
}
.logo{

  height: 12vh;
  width: 7vw;
  align-content: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnMenu{

  height: 12vh;
  width: 7vw;

  align-content: center;
  vertical-align: middle;
 
  justify-content: center;
  align-items: center;
  text-align: center;


}

.txtLogo{
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 5px !important;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
}

.btnGreen{
  height: 8vh;
  width: 8vh;
  background-color: #8DC63F;
  border-radius: 50%;
  box-shadow: -2px -2px 89px 4px rgba(161,161,161,0.5);
-webkit-box-shadow: -2px -2px 89px 4px rgba(161,161,161,0.5);
-moz-box-shadow: -2px -2px 89px 4px rgba(161,161,161,0.5);
}

.paddingCol{
  padding: 0px !important;
  margin: 0px !important;
}

.iconoCentro{
  height: 8vh;
  width: 8vh;
  align-content: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btnTransparente{
  border: 0px transparent;
  background-color: transparent;
  border-radius: 50%;
  
  position: absolute;
  bottom: 0px;
  right: 0px;

}

.dialogo{
  background-color: rgb(141, 198, 63);
  width: 20vw;
  height: 23vh;
  position: absolute;
  border-radius: 20px;
  box-shadow: 13px 10px 33px 0px rgba(161,161,161,0.75);
  -webkit-box-shadow: 13px 10px 33px 0px rgba(161,161,161,0.75);
  -moz-box-shadow: 13px 10px 33px 0px rgba(161,161,161,0.75);
}

.modalDial{
  width: 22vw;
  height: 26vh;
  position: absolute;
  bottom: -80px;
  right: -100vh;
  
  

}

.first_title
{
color: #8DC63F;
font-size: 14px;
margin: 0px;
padding: 0px;
font-family: 'Montserrat', sans-serif;
}

.second_title
{
color: #20569D;
font-size: 30px;
margin: 0px;
padding: 0px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
}

.personal_data_section{
  text-align: end;
}

.welcome_name{
color: #8DC63F;
font-size: 18px;
margin: 0px;
padding: 0px;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
}

.company_view{
  color: #20569D;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  }

  .txt_date{
    color: #20569D;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    }
.help{
  color: #8DC63F;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.table_container{
  width: 100vw;
  height: 50vh;
  
 
}

.footer_container{
  
  height: 20vh;
  
  padding-top: 5vh;
}

.notification_ball{
  color: white;
  background-color:#FF2E2E ;
  text-align: center;
  height: 3vh;
  width: 3vh;
  border-radius: 50%;
  align-content: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-left: 15px;
  margin-top: 7px;
  position: absolute;
}
.notification_bell{
  margin-top: 15px
}

.header_page{
   margin-top: 20px; 
  padding-top: 20px;
}

.search_bar{
  margin-top: 3vh;
  height: 6vh;
  margin-bottom: 3vh;
  
}
.divNoMargin{
  margin: 0px !important;
  padding: 0px !important;
}
.icon_search{
  height: 20px;
  width: 20px;
}
.input_form{
 
border-radius: 6px !important;
font-family: 'Montserrat', sans-serif;
font-weight: 500 !important;
color: rgba(79,79,79,0.8) !important;
border-color: #C4C4C4 !important;
font-size: 12px !important;
padding: 0.5rem .5rem !important;

}
.back{
  text-align: center;
}
.go_to_section{
  text-align: end;
  padding-right: 40px;
}

.go_to_section_credit{
  margin-right: 4.5vw !important;
  color: #20569D;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  vertical-align: middle;
  }

  .img_assistant{
    text-align: right;
  }

  .paragraph{
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
  }

  .paragraph-bold{
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  .add_section{
    position: absolute;
    
  }

  .bg_home{

    width: 100vw;
    height: 100vh;
    background-image: url('./assets/ImgBg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .dialog_title{
    margin-top: 2vh;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    font-weight: 500;
  }

  .opc_btn_dialog{
    font-size: 12px;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5vw;
    margin-top: 0px;
    margin-bottom: 15px;

  }

 
 */
